<div class="page__content px-0" [class.loading]="loading">
  <h3 class="page__header mb-5">All Products</h3>

  <div class="table-responsive">
    <app-loading-placeholder [data]="!(models.length==0 && !queryCall?.closed)"
                             [error]="hasError"></app-loading-placeholder>
    <div *ngIf="models.length==0 && queryCall?.closed && !hasError">
      <div class="p-a-lg">
        <div class="empty-results-block">No items found
        </div>
      </div>
    </div>

    <table class="table" *ngIf="models.length > 0" [class.loading]="!queryCall?.closed">
      <thead>
      <tr>
        <th *ngFor="let c of sortColumns"
            [class.pointer]="c.property"
            class="text-u-c align-top"
            (click)="toggleSort(c.property)">
          <span
            [class.sort-icon]="c.property"
            [ngClass]="(c.property && sortBy != c.property) ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>
          {{c.label}}
        </th>
        <th class="pointer" (click)="toggleSort('price')">
          <div class="d-flex">
            <div>
              <span
                class="sort-icon"
                [ngClass]="sortBy != 'price' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>
            </div>
            <div>SELL PRICE <img src="assets/images/question.svg"
                                 ngbTooltip="Normal Sell and  Discounted Sell Prices"
                                 tooltipClass="tooltip--primary"
                                 container="body"
                                 class="question-icon"><br>
              <span class="text-danger">DISC. PRICE</span>
            </div>
          </div>
        </th>
        <th class="pointer" (click)="toggleSort('sold_unit')">
          <div class="d-flex">
            <div>
              <span
                class="sort-icon"
                [ngClass]="sortBy != 'sold_unit' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>
            </div>
            <div>UNITS SOLD <img src="assets/images/question.svg"
                                 [ngbTooltip]="unitSoldTip"
                                 tooltipClass="tooltip--primary"
                                 placement="left-top"
                                 container="body"
                                 class="question-icon"><br>
              <span class="text-danger">DISC. SOLD</span>
            </div>
          </div>
          <ng-template #unitSoldTip>Total units sold and <br>Units sold at discounted prices</ng-template>
        </th>

      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of models; let i = index">
        <td width="120px" class="text-center">
          <div class="text-lowercase">{{item.updated_at | date:'shortTime'}}</div>
          {{item.updated_at | date:'d MMM yyyy'}}
        </td>
        <td width="100px">
          <img *ngIf="item.primaryImage" width="50px"
               [src]="item.primaryImage.variants ? item.primaryImage.variants['96'] : item.primaryImage.url">
        </td>
        <td>
          <a [routerLink]="['./edit', item.link, item.id]" target="_blank">
            <div>{{item.name}}</div>
            <div class="text-muted">{{item.model}}</div>
          </a>
          <div class="mt-1">
            <app-product-special-label [product]="item"></app-product-special-label>
          </div>
        </td>
        <td width="130px" class="text-center"><input type="text" class="stock-quantity-input"
                                                     [value]="item.quantity"
                                                     #input
                                                     (blur)="updateQuantity(null, i, input.value)"
                                                     (keypress)="updateQuantity($event, i, input.value)"
                                                     name="quantity"></td>
        <td width="140px">
          <app-product-status-label [product]="item"></app-product-status-label>
        </td>
        <td width="150px" class="text-center">
          <div *ngIf="item.price">RM {{item.price| number:'1.2-2'}}</div>
          <div *ngIf="item.discount_price" class="text-danger">RM {{item.discount_price| number:'1.2-2'}}</div>
        </td>
        <td width="150px">
          <div>{{item.sold_unit| number}}</div>
          <div *ngIf="item.discounted_sold_unit" class="text-danger">{{item.discounted_sold_unit| number}}</div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <footer class="p-a">
    <div class="text-center">
      <div class="row block text-center p-y" *ngIf="!hasError && showLoadMoreButton">
        <button class="btn btn-md white no-border no-bg no-radius p-y-sm p-x-lg" (click)="getNextPage()">
          <img class="w-32 v-m" src="/assets/images/down-arrow.png">
        </button>
      </div>
    </div>
  </footer>

</div>
