<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <a routerLink="/orders" class="title-bar__breadcrumb__item">PURCHASES</a>
    | <span class="title-bar__breadcrumb__item">Order {{orderNumber}}</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Purchases</div>
</div>
<div class="order-complete">
  <div class="container">
    <ng-container *ngIf="order$ | async as order; else loading">

      <div class="page-title">Thank you for your order</div>
      <div class="order-number">
        Your order no. is <strong>#{{order.number}}</strong>
      </div>
      <div class="order-info-text">
        Your order confirmation will be sent to your email.<br>
        If you do not receive this email, please check your spam or junk email folder.
      </div>


      <app-order-info-footer [order]="order"></app-order-info-footer>

      <div class="d-flex justify-content-center flex-wrap mt-3">
        <a routerLink="/listing" class="btn btn--fixed-lg no-radius btn--outline-black text-uppercase mt-4 mx-3">Continue
          shopping</a>
        <a class="btn btn--fixed-lg no-radius mt-4 btn--grey mx-3" routerLink="/orders">
          VIEW MY ORDERS
        </a>
      </div>


    </ng-container>

  </div>
  <app-popular-products></app-popular-products>
</div>
<ng-template #loading>
  <app-loading-placeholder></app-loading-placeholder>
</ng-template>
