
.order-complete {
  padding-top: 62px;
}

.page-title {
  font-size: 2.25rem;
  color: #373737;
  font-weight: normal;
  text-align: center;
  margin-bottom: 12px;
}

.order-number {
  color: #373737;
  text-align: center;
  font-size: 1.125rem
}

.order-info-text {
  font-size: 1rem;
  color: #373737;
  text-align: center;
  margin-top: 20px;
}



app-popular-products {
  margin-top: 90px;
  display: block;
}
