
.shopping-cart {
  &__btn {
    width: 248px;
    padding: 11px 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 1.5rem 20px 0;

  }

  &__line {
    display: grid;
    grid-template-columns: 140px auto 120px 160px 160px 90px;
    margin-bottom: 24px;

    &__image, &__quantity, &__price, &__total, &__remove {
      text-align: center;
    }

    &__image {
      width: 96px;
    }

    &__total {
      font-weight: 500;
    }
  }

  &__line--head {
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (max-width: 991.98px) {
    &__line {
      grid-template-columns: 120px 64px minmax(auto, 420px) minmax(35px, auto);
      grid-row-gap: 10px;
      margin-bottom: 30px;

      &__image {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        text-align: left;
      }

      &__name {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
      }

      &__remove {
        grid-column: 4 / 5;
        grid-row: 1 / 2;

      }

      &__quantity {
        grid-column: 2 /3;
        grid-row: 2 /3;
        text-align: left;
      }

      &__price {
        grid-column: 3/4;
        grid-row: 2 /3;
        text-align: left;
        padding-top: 10px;
      }

      &__total {
        grid-column: 2 / 4;
        grid-row: 3 /4;
        text-align: left;
      }

    }

    &__line--head {
      display: none;
    }

  }

  @media (max-width: 767.98px) {
    grid-template-columns: 110px 64px minmax(auto, 150px) minmax(35px, auto);
    grid-template-rows: auto 50px auto;
  }


  &__total__price {
    width: 190px;
    max-width: 190px;
  }


}


@media (min-width: 1336px) {
  .shopping-cart .container {
    max-width: 1200px;
  }
}
