<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <span class="title-bar__breadcrumb__item">My cart</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">My cart</div>
</div>
<div class="shopping-cart" [class.loading]="loading">
  <div class="container py-5 px-lg-0">
    <div *ngIf="items?.length; else empty_cart">
      <div class="shopping-cart__items" [formGroup]="form">
        <div class="shopping-cart__line shopping-cart__line--head">
          <div class="shopping-cart__line__image ">
            Item
          </div>
          <div class="shopping-cart__line__name">
            Description
          </div>
          <div class="shopping-cart__line__quantity">
            Quantity
          </div>
          <div class="shopping-cart__line__price">
            Unit price
          </div>

          <div class="shopping-cart__line__total">Subtotal</div>
          <div class="shopping-cart__line__remove"></div>
        </div>
        <ng-container formArrayName="items">
          <div class="shopping-cart__line" *ngFor="let item of items; let i = index" [formGroupName]="i">
            <div class="shopping-cart__line__image">
              <a [routerLink]="['/product', item.product.link, item.product.id]">
                <img class="shopping-cart__items__item__image"
                     [src]="item.product.primaryImage.variants ? item.product.primaryImage.variants[96] : item.product.primaryImage.url"
                     [alt]="item.product.name"></a>
            </div>
            <div class="shopping-cart__line__name">
              <div class="mt-1">
                <a [routerLink]="['/product', item.product.link, item.product.id]"
                   class="_500">{{item.product.name}}</a><br/>
                <small class="text-muted">{{item.product.model}}</small>
                <app-product-special-label [product]="item.product"></app-product-special-label>
              </div>
            </div>
            <div class="shopping-cart__line__quantity">
              <input class="stock-quantity-input" name="quantity" type="text" formControlName="quantity">
            </div>
            <div class="shopping-cart__line__price">
              RM {{(item.product.discount_price ? item.product.discount_price : item.product.price) | number:'1.2-2'}}
            </div>

            <div class="shopping-cart__line__total">
              RM {{((item.product.discount_price ? item.product.discount_price : item.product.price) * item.quantity) | number:'1.2-2'}}
            </div>
            <div class="shopping-cart__line__remove">
              <a href="javascript:void('remove item')" (click)="removeItem(item.product_id,i)"
                 class="text-lg">×</a>
            </div>
          </div>

        </ng-container>

        <div class="b-t b-b py-2  shopping-cart__total">
          <div class="row py-2">
            <div class="col text-uppercase text-right">Cart subtotal</div>
            <div class="col _500 shopping-cart__total__price text-right pr-5">RM {{total|number:'1.2-2'}}</div>
          </div>
          <div class="row py-2">
            <div class="col text-uppercase text-right">Shipping</div>
            <div class="col _500 shopping-cart__total__price text-right pr-5">FREE</div>
          </div>
          <div class="row py-2">
            <div class="col text-uppercase text-right">Order total</div>
            <div class="col _500 shopping-cart__total__price text-right pr-5">RM {{total|number:'1.2-2'}}</div>
          </div>
        </div>
      </div>


      <div class="pb-5 pt-4 text-center">
        <a (click)="continue()" class="btn shopping-cart__btn btn--outline-black">Continue shopping</a>
        <button class="btn shopping-cart__btn btn--grey" (click)="update()" [disabled]="form.pristine || form.invalid">
          Update cart
        </button>
        <button class="btn shopping-cart__btn btn--red" (click)="checkout()" [disabled]="form.invalid">Checkout</button>
      </div>
    </div>
  </div>
</div>

<ng-template #empty_cart>
  <p class="text-muted text-center p-5">Your cart is empty</p>
  <div class="pb-5 pt-4 text-center" *ngIf="form.dirty">
    <a (click)="continue()" class="btn shopping-cart__btn btn--outline-black">Continue shopping</a>
    <button class="btn shopping-cart__btn btn--grey" (click)="update()">
      Update cart
    </button>
  </div>
</ng-template>

<ng-template #confirmUpdateModal let-modal>
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-uppercase _400">Confirm cart changes</h4>
    </div>
    <div class="modal-body text-center">
      <p>You have made changes to your cart. Click to confirm your changes and proceed to checkout.</p>
    </div>
    <div class="modal-footer  justify-content-center">
      <a class="_500 px-3 text" (click)="modal.dismiss()">
        Cancel
      </a>
      <button class="btn btn-success text-uppercase" (click)="modal.dismiss();updateAndCheckout()" type="button">
        Confirm & proceed
      </button>
    </div>
  </div>
</ng-template>


<ng-template #confirmContinueModal let-modal>
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-uppercase _400">Confirm cart changes</h4>
    </div>
    <div class="modal-body text-center">
      <p>You have made changes to your cart. Click to confirm your changes.</p>
    </div>
    <div class="modal-footer  justify-content-center">
      <a class="_500 px-3 text" (click)="modal.dismiss()">
        Cancel
      </a>
      <button class="btn btn-success text-uppercase" (click)="modal.dismiss();updateAndContinue()" type="button">
        Confirm
      </button>
    </div>
  </div>
</ng-template>
