<a class="product-card " routerLink="/product/{{product.link}}/{{product.id}}">
  <!-- PRODUCT IMAGE -->
  <div class="box-aspect-1">
    <div class="product-card__image box-aspect-content" defaultImage="/assets/images/loader-black.svg"
         errorImage="/assets/images/failed-image.svg"
         [class.no-image]="!product.primaryImage"
         [lazyLoad]="product.primaryImage ? product.primaryImage.url : '/assets/images/failed-image.svg'">
    </div>

    <div class="product-card__label">
      <div *ngIf="product.status != STATUS_PUBLISHED || product.is_deleted; else label"
           class="product-special-label product-special-label--unavailable">
        UNAVAILABLE
      </div>
      <ng-template #label>
        <app-product-special-label [product]="product"></app-product-special-label>
      </ng-template>
    </div>
  </div>

  <!-- PRODUCT DETAILS -->
  <div class="product-card__description">
    <div class="product-card__name" ngxShave [maxHeight]="50">
      {{product.name}}
    </div>
    <div class="product-card__price">
      RM {{(product.discount_price ? product.discount_price : product.price) | number:'1.2-2'}}
    </div>
    <div class="product-card__old-price">
      <ng-container *ngIf="product.discount_price">
        <div class="product-card__old-price__number">RM {{product.price | number:'1.2-2'}}</div>
        ({{calcOffDiscount(product.price, product.discount_price)}}% off)
      </ng-container>
    </div>
  </div>
</a>
