@import '../../../../util';

.product-card {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  display: block;
  width: 200px;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;

    &.ng-lazyloaded {
      background-position: 50% 50%;
      background-size: contain;
    }

    &.ng-failed-lazyloaded, &.no-image {
      background-size: 32px;
      border: 1px solid #979797;
    }
  }


  &__description {
    text-align: center;
    padding: 1rem 5px 12px;

  }

  &__name {
    color: #000;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-bottom: 11px;
    height: 50px;
  }

  &__price {
    color: #333;
  }

  &__old-price {
    color: #6C757D;
    font-size: 0.75rem;
    height: 18px;

    &__number {
      text-decoration: line-through;
      display: inline;
    }
  }
}


