<div class="row checkout-form">

  <div class="col-md-6">

    <div class="p-y-sm">
      <span class=" text-lg _400 text-muted text-u-c m-r">Delivery Information</span>
    </div>

    <div class="row row-sm" [formGroup]="form">

      <div class="col-sm-6">
        <div class="md-form-group float-label"
             [class.has-danger]="form.get('first_name').invalid && form.get('first_name').touched">
          <input type="text" class="md-input" id="first_name" name="first_name"
                 [class.has-value]="form.get('first_name').value"
                 formControlName="first_name">
          <label for="first_name">first name *</label>
          <div *ngIf="form.get('first_name').hasError('') && form.get('first_name').touched"
               class="md-input-msg text-danger">first name required
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="md-form-group float-label"
             [class.has-danger]="form.get('last_name').invalid && form.get('last_name').touched">
          <input type="text" class="md-input" id="last_name" name="last_name"
                 [class.has-value]="form.get('last_name').value"
                 formControlName="last_name">
          <label for="last_name">last name *</label>
          <div *ngIf="form.get('last_name').hasError('') && form.get('last_name').touched"
               class="md-input-msg text-danger">last name required
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <input type="email" class="md-input" id="email"
                 [class.has-value]="form.get('email').value"
                 name="email" formControlName="email">
          <label for="email">email *</label>
          <div *ngIf="form.get('email').invalid && form.get('email').touched"
               class="md-input-msg text-danger">please enter valid email
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" id="phone"
                 [class.has-value]="form.get('phone').value"
                 name="phone" formControlName="phone">
          <label for="phone">mobile no. *</label>
          <div *ngIf="form.get('phone').invalid && form.get('phone').touched"
               class="md-input-msg text-danger">mobile no. required
          </div>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.get('password')">
        <div class="md-form-group float-label"
             [class.has-danger]="form.get('password').invalid && form.get('password').touched">
          <input type="password" class="md-input" id="password" name="password"
                 [class.has-value]="form.get('password').value"
                 formControlName="password">
          <label for="password">password *</label>
          <ng-container *ngIf="form.get('password').touched">
            <div *ngIf="form.get('password').hasError('required')"
                 class="md-input-msg text-danger">password required
            </div>
            <div *ngIf="form.get('password').hasError('minlength')"
                 class="md-input-msg text-danger">password must be at least 8 characters
            </div>
          </ng-container>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" id="address_1"
                 [class.has-value]="form.get('address_1').value"
                 name="address_1" formControlName="address_1">
          <label for="address_1">delivery address 1 *</label>
          <div *ngIf="form.get('address_1').invalid && form.get('address_1').touched"
               class="md-input-msg text-danger">delivery address 1 required
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="md-form-group float-label">
          <input type="text" class="md-input"
                 [class.has-value]="form.get('address_2').value"
                 id="address_2" name="address_2" formControlName="address_2">
          <label for="address_2">delivery address 2</label>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <ng-select bindValue="id" bindLabel="name" [clearOnBackspace]="true" [clearable]="false"
                     [items]="countries$ | async"
                     formControlName="country_id"
                     id="country_id"
                     class="md-input"
                     [class.ng-select--has-value]="form.get('country_id').value"

                     placeholder="">
          </ng-select>
          <label for="country_id">country *</label>
          <div *ngIf="form.get('country_id').invalid && form.get('country_id').touched"
               class="md-input-msg text-danger">country required
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" [class.has-value]="form.get('city').value" id="city" name="city"
                 formControlName="city">
          <label for="city">city *</label>
          <div *ngIf="form.get('city').invalid && form.get('city').touched"
               class="md-input-msg text-danger">city required
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <ng-select bindValue="name" [items]="states$ | async" id="state" bindLabel="name"
                     [clearOnBackspace]="true" [clearable]="false"
                     formControlName="state"
                     placeholder=""
                     class="md-input" [class.ng-select--has-value]="form.get('state').value">
          </ng-select>
          <label for="state">region/state </label>
          <div *ngIf="form.get('state').invalid && form.get('state').touched"
               class="md-input-msg text-danger">region/state required
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" [class.has-value]="form.get('postcode').value" id="postcode"
                 name="postcode" formControlName="postcode">
          <label for="postcode">postcode *</label>
          <div *ngIf="form.get('postcode').invalid && form.get('postcode').touched"
               class="md-input-msg text-danger">postcode required
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group form-group--comment">
          <label for="comment">additional delivery instructions</label>
          <textarea name="comment" id="comment" class="form-control form-control--material" formControlName="comment"
                    rows="8"></textarea>
        </div>
      </div>

      <div class="d-none d-md-block">
        <div class=" col-12">
          <div class="md-form-group  text-center">
            <div class="agreement-text">
              Proceeding your payment means you agree to our
              <a class="_600" routerLink="/terms">Terms</a> and
              <a class="_600" routerLink="/privacy">Privacy</a>
            </div>

            <button [disabled]="form.invalid" class="btn btn--red no-radius checkout-btn"
                    (click)="proceedPayment()">
              PROCEED to PAYMENT
            </button>
          </div>
        </div>

        <div class="col-12">
          <div class="p-a payment-gateways-logo">
            <img class="img-responsive" src="assets/images/payment-accept.png">
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-6 pl-md-5">
    <div class="p-y-sm">
      <span class="text-muted _500 text-u-c m-r">Your order</span>
    </div>

    <app-order-details-table [items]="items" [total]="total"></app-order-details-table>

    <div class="d-md-none">
      <div class=" col-12">
        <div class="md-form-group  text-center">
          <div class="agreement-text">
            Proceeding your payment means you agree to our
            <a class="_600" routerLink="/terms">Terms</a> and
            <a class="_600" routerLink="/privacy">Privacy</a>
          </div>

          <button [disabled]="form.invalid && form.touched" class="btn btn--red no-radius checkout-btn"
                  (click)="proceedPayment()">
            PROCEED to PAYMENT
          </button>
        </div>
      </div>

    </div>

    <div class="text-center" [hidden]="hideEditCartBtn">
      <a routerLink="/cart" class="btn btn--grey no-radius edit-cart-btn">EDIT CART</a>
    </div>

    <div class="col-12 d-md-none">
      <div class="p-a payment-gateways-logo">
        <img class="img-responsive" src="assets/images/payment-accept.png">
      </div>
    </div>
  </div>

</div>
