.agreement-text {
  width: 265px;
  margin: 0 auto 0.5rem;
}

.checkout-btn, .edit-cart-btn {
  width: 280px;
  padding: 12px 0;
  margin-top: 17px;
}

.payment-gateways-logo {
  margin-top: 30px;
}

.checkout-form {
  padding-top: 92px;
  padding-bottom: 16px;
}

.form-group--comment {
  label {
    color: #555;
  }
}
