<div class="dropdown-divider"></div>
<ng-container  *ngIf="categories$ | async as categories">
<div class="dropdown-item" *ngFor="let category of categories">
   
    <a routerLinkActive="dropdown-item--active" routerLink="/listing" [queryParams]="{category: category.id}" >{{category.name}}</a>

</div>
</ng-container>
<div class="dropdown-item dropdown-item--special"><a routerLink="/listing" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}" [queryParams]="{is_special:1}">DEALS</a></div>
<div class="dropdown-item dropdown-item--no-transform"><a target="_blank" [href]="communityUrl">eWanita</a></div>