<div class="row mx-0 align-items-center justify-content-center text-center product-data my-5">
  <div class="col-12 text-center m-b-md">
    <h5 class="text-u-c text-muted _400">Product data</h5>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="product.brand"><span class="text-gray-888 text-xs">Brand</span>
    <p class="_400">{{product.brand}}</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="product.sku"><span class="text-gray-888 text-xs">SKU</span>
    <p class="_400">{{product.sku}}</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="product.minimum_order_quantity!==null"><span
    class="text-gray-888 text-xs">Minimum Order Quantity</span>
    <p class="_400">{{product.minimum_order_quantity}}</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4"><span class="text-gray-888 text-xs">Model</span>
    <p class="_400">{{product.model}}</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4"><span class="text-gray-888 text-xs">Category</span>
    <p class="_400">{{productCategoryName$ | async}}</p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4"><span class="text-gray-888 text-xs">Shipping Required</span>
    <p class="_400">{{product.requires_shipping ? 'YES' : 'NO'}}</p>
  </div>
</div>
<ng-container
  *ngIf="hasDimension || hasShippingDimension">
  <hr class="section-divider"/>
  <div class="row mx-0 align-items-center justify-content-center text-center product-dimensions my-5">
    <div class="col-sm-12 col-xs-12 text-center mb-4">
      <h5 class="text-u-c text-muted _400">Product dimensions</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6"
         *ngIf="hasDimension">
      <span class="text-gray-888 text-xs">Product dimensions(cm)</span>
      <p class="_400">
        <span *ngIf="product.length!==null">{{product.length}}L x </span>
        <span *ngIf="product.width!==null">{{product.width}}W x </span>
        <span *ngIf="product.height!==null">{{product.height}}H</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="product.weight !== null">
      <span class="text-gray-888 text-xs">Product weight (kg)</span>
      <p class="_400">{{product.weight}}</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6"
         *ngIf="hasShippingDimension">
      <span class="text-gray-888 text-xs">Shipping dimensions (cm)</span>
      <p class="_400">
        <span *ngIf="product.shipping_length!==null">{{product.shipping_length}}L x </span>
        <span *ngIf="product.shipping_width!==null">{{product.shipping_width}}W x </span>
        <span *ngIf="product.shipping_height!==null">{{product.shipping_height}}H</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="product.shipping_weight !== null">
      <span class="text-gray-888 text-xs">Shipping weight (kg)</span>
      <p class="_400">{{product.shipping_weight}}</p>
    </div>

  </div>
</ng-container>
<!--<hr class="section-divider"/>
<app-products-widget title="Product accessories" [filters]="{'per-page':4}"></app-products-widget>-->
<hr class="section-divider"/>
<app-products-widget title="Related products" [filters]="{'per-page':4, related: product.id}"></app-products-widget>
