
.product-description-tab {
  display: flex;
  justify-content: center;

  &__description {
    margin-right: 50px;
    margin-bottom: 40px;
    max-width: calc(100% - 460px);
    overflow: hidden;
  }

  &__left {
    width: 460px;
    flex-shrink: 0;
    text-align: center;
    margin-left: auto;
  }

  &__seller {

    &__image {
      width: 60px;
    }

    &__name {
      color: #000;
      font-size: 1rem;
    }
  }

  @media (max-width: 1023.98px) {
    flex-wrap: wrap;

    &__description {
      margin-right: 0;
      max-width: 100%;
    }

    &__left {
      flex-shrink: 1;
      width: 100%;
      padding-top: 40px;

    }

    &__related {
      padding-top: 24px;
      margin-left: -15px;
      margin-right: -15px;
      border-top: 1px solid #CCCCCC;
    }

    &__left, &__related {
      border-top: 1px solid #CCCCCC;
    }
  }

  @media (max-width: 480px) {
    &__description, &__left {
      padding-left: 12px;
      padding-right: 12px;
    }

    &__related {
      margin-left: -12px;
      margin-right: -12px;
    }
  }


  /deep/ {
    .products-widget {
      padding-top: 5px;

      .container {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
      }

      .products-grid {
        margin-right: -20px;
      }

      @media (max-width: 1023.98px) {
        .products-grid {
          margin-right: 0;
        }
      }
    }
  }
}
