<div class="product-description-tab" *ngIf="product">
  <div class="product-description-tab__description">
    <app-product-description [product]="product"></app-product-description>
  </div>
  <div class="product-description-tab__left">
    <div class="product-description-tab__seller">
      <ng-container *ngIf="sellerInfo$ | async as sellerInfo">
        <img [src]="sellerInfo.public_picture" [alt]="sellerInfo.public_identity"
             class="product-description-tab__seller__image">
        <div class="product-description-tab__seller__name">{{sellerInfo.public_identity}}</div>
      </ng-container>
      <app-products-widget [filters]="sellerFilter"></app-products-widget>
    </div>
  </div>
</div>
