
.order-totals {
  margin-bottom: 60px;
}

.order-item {
  margin: 2.25rem 0;
  display: grid;
  grid-template-columns: 90px auto 110px;
  grid-column-gap: 20px;


  &__total {
    text-align: right;
  }
}

@media (max-width: 768px) {

  .order-item__description {
    grid-column: 2 /4;
  }

  .order-item__total {
    grid-column: 2 / 4;
    grid-row: 2 /3;
    text-align: left;
  }
}
