<div class="mb-5">
  <div class="order-item" *ngFor="let item of items">
    <div class="order-item__image">
      <a [routerLink]="['/product', item.product.link, item.product.id]"><img
        [src]="item.product.primaryImage.variants ? item.product.primaryImage.variants[96] : item.product.primaryImage.url"
        [alt]="item.product.name"></a>
    </div>
    <div class="order-item__description">
      <a [routerLink]="['/product', item.product.link, item.product.id]" class="_500">{{item.product.name}}</a>
      <br/>
      <small class="text-muted">{{item.product.model}}</small>
      <div>
        <app-product-special-label [product]="item.product"></app-product-special-label>
      </div>
      <div>
        RM {{(item.product.discount_price ? item.product.discount_price : item.product.price) | number:'1.2-2'}}
        x {{item.quantity}}
      </div>
    </div>
    <div class="order-item__total  _500">
      RM {{((item.product.discount_price ? item.product.discount_price : item.product.price) * item.quantity) | number:'1.2-2'}}
    </div>
  </div>
</div>

<div class="p-y b-t b-b  order-totals">
  <div class="row mb-4">
    <div class="col-8 text-md-right">
      CART SUBTOTAL
    </div>
    <div class="col-4 text-right">
      <span class="_500">RM {{total|number: '1.2-2'}}</span>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-8 text-md-right">
      SHIPPING
    </div>
    <div class="col-4 text-right">
      <span class="_500">FREE</span>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-8 text-md-right">
      CART TOTAL
    </div>
    <div class="col-4 text-right">
      <span class="_500">RM {{total|number: '1.2-2'}}</span>
    </div>
  </div>
</div>
