<div class="dropdown-divider"></div>
<!--<div class="dropdown-item"><a href="#!">Dashboard</a></div>-->
<div class="dropdown-item"><a *ngIf="loggedIn" routerLinkActive="dropdown-item--active" routerLink="/favorites" href="#">Favourites</a>
</div>
<div class="dropdown-item"><a routerLinkActive="dropdown-item--active" routerLink="/cart" href="#">My cart</a></div>
<div class="dropdown-item"><a *ngIf="loggedIn" href="#" routerLinkActive="dropdown-item--active" routerLink="/orders">Purchases</a>
</div>
<div class="dropdown-item"><a *ngIf="loggedIn" routerLinkActive="dropdown-item--active" routerLink="/settings" href="#">Settings</a>
</div>
<div class="dropdown-item dropdown-item--special"><a routerLink="/home">View store</a></div>
<div class="dropdown-item dropdown-item--no-transform"><a target="_blank" [href]="communityUrl">eWanita</a></div>
