/* PRELOADER - SPINNER --*/
.spinner {
  height: 32px;
  width: 32px;
  margin: 60px auto 0 auto;
  position: relative;
  /*-webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 4px solid rgba(0, 0, 0, .15);
  border-right: 4px solid rgba(0, 0, 0, .15);
  border-bottom: 4px solid rgba(0, 0, 0, .15);
  border-top: 4px solid rgba(0, 0, 0, .8);
  border-radius: 100%;*/
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
