.product-page__container {
  padding-left: 0;
  padding-right: 0;
}

.product-full-view {
  padding-top: 12px;
}


/deep/ {
  .section-divider {
    border-top: 1px solid #dee2e6;
  }

  .products-widget > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-tabs {
  justify-content: center;
}


.section-divider--tab {
  border: 1px solid #666;
  margin-bottom: -20px;
}

.product-page__tab_pane {
  margin-top: 36px;
}

.tab-nav-wrapper {

  .nav-item {
    padding-top: 14px;

  }

  a.nav-link {
    color: #999999;
    font-size: 1.0625rem;
    padding-bottom: 11px;

    &.active {
      color: #000;
    }
  }
}

@media (max-width: 480px) {

  .product-page-tabs {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tab-nav-wrapper {
    height: 54px;
    overflow-y: hidden;

    a.nav-link{
      font-size: 0.875rem !important;
    }
    .nav-tabs {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-bottom: 1.9rem;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding-left: 15px;
      padding-right: 15px;

      .nav-link.active {
        z-index: 2;
      }
    }

  }

  .section-divider--tab {
    border-top: 0;
  }

  .tab-nav__border {
    border-top: 1px solid #dee2e6;
    position: relative;
    top: -34px;
    width: 100%;
  }
}
