<div class="product-page">
  <div class="container product-page__container">

    <div class="product-full-view">
      <div class="m-b">
        <app-product-full-view *ngIf="product" [product]="product"></app-product-full-view>
        <app-loading-placeholder [data]="product"></app-loading-placeholder>
      </div>
    </div>

    <div class="product-page-tabs">
      <div class="section-divider section-divider--tab"></div>
      <div class="tab-nav-wrapper">
        <ul role="tablist" class="nav nav-tabs">
          <li class="nav-item ng-star-inserted">
            <a class="nav-link" (click)="setTab(TAB_INFO)" [class.active]="activeTab == TAB_INFO"> Product Info</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="setTab(TAB_SPECS)" [class.active]="activeTab == TAB_SPECS">
              Product Specs</a>
          </li>
        </ul>
        <div class="tab-nav__border"></div>
      </div>

      <div class="product-page__tab_pane" *ngIf="product">
        <ng-container [ngSwitch]="activeTab">
          <app-product-description-tab *ngSwitchCase="TAB_INFO" [product]="product"></app-product-description-tab>
          <app-product-details-tab *ngSwitchCase="TAB_SPECS" [product]="product"></app-product-details-tab>
        </ng-container>
      </div>
    </div>


  </div>
  <app-popular-products></app-popular-products>
</div>
