<div class="page__content px-0">
  <h3 class="page__header mb-5">Sales by Orders</h3>
  <div>
    <app-loading-placeholder [data]="!(models.length==0 && !queryCall?.closed)"
                             [error]="hasError"></app-loading-placeholder>
    <div *ngIf="models.length==0 && queryCall?.closed && !hasError">
      <div class="p-a-lg">
        <div class="empty-results-block">
          <i>No items found</i>
        </div>
      </div>
    </div>

    <div class="reports-by-orders__items" *ngIf="models.length > 0" [class.loading]="!queryCall?.closed">
      <div class="reports-by-orders__items__row reports-by-orders__items__row--head">
        <div class="pointer" (click)="toggleSort('number')">
          <span class="sort-icon"
                [ngClass]="sortBy != 'number' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>ORDER
        </div>
        <div class="pointer" (click)="toggleSort('created_at')">
          <span
            class="sort-icon"
            [ngClass]=" sortBy != 'created_at' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>ORDERED
        </div>
        <div>
          SHIPPED
        </div>
        <div class="pointer text-center" (click)="toggleSort('consignment_number')">
          <span
            class="sort-icon"
            [ngClass]=" sortBy != 'consignment_number' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>
          CONSIGNMENT
          <img src="assets/images/question.svg"
               ngbTooltip="Consignment/Shipping number"
               tooltipClass="tooltip--primary"
               container="body"
               class="question-icon">
        </div>
        <div>
          BUYER
        </div>
        <div class="pointer" (click)="toggleSort('ordered_quantity')">
          <span class="sort-icon"
                [ngClass]="sortBy != 'ordered_quantity' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>UNITS
          ORDERED
          <img src="assets/images/question.svg"
               ngbTooltip="total units ordered"
               tooltipClass="tooltip--primary"
               container="body"
               class="question-icon">
        </div>
        <div class="pointer" (click)="toggleSort('shipped_quantity')">
          <span class="sort-icon"
                [ngClass]="sortBy != 'shipped_quantity' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>
          UNITS SHIPPED
          <img src="assets/images/question.svg"
               ngbTooltip="total units shipped"
               tooltipClass="tooltip--primary"
               container="body"
               class="question-icon">
        </div>
        <div class="pointer text-right" (click)="toggleSort('total')">
          <span class="sort-icon"
                [ngClass]="sortBy != 'total' ? 'sort-icon--neutral' : (sortOrder =='desc' ? 'sort-icon--desc':'sort-icon--asc')"></span>AMOUNT
        </div>
      </div>
      <div class="reports-by-orders__items__row pointer"
           *ngFor="let item of models; trackBy: trackByOrderId;" (click)="showOrderDetail(item)">

        <div>
          <app-order-state-icon [state]="item.state"></app-order-state-icon>
          {{item.mainOrder.number}}</div>
        <div>
          <div class="text-lowercase">{{item.created_at | date:'shortTime'}}</div>
          {{item.created_at | date:'d MMM yyyy'}}
        </div>
        <div>
          <app-order-state-label [order]="item"></app-order-state-label>
        </div>
        <div class="text-center">
          {{item.consignment_number}}
        </div>
        <div>
          <div>
            {{item.mainOrder.shipping_first_name}} {{item.mainOrder.shipping_last_name}}
          </div>
          <div class="text-muted">
            {{item.mainOrder.shipping_city}} <span class="text-uppercase">{{item.shipping_country$ | async}}</span>
          </div>
        </div>
        <div class="text-center">
          {{item.ordered_unit}}
        </div>
        <div [class.text-danger]="item.ordered_unit != item.shipped_unit" class="text-center">
          {{item.shipped_unit}}
        </div>
        <div class="text-right">
          RM {{item.total|number:'1.2-2'}}
        </div>
      </div>

    </div>
  </div>
  <footer class="p-a">
    <div class="text-center">
      <div class="row block text-center p-y" *ngIf="!hasError && showLoadMoreButton">
        <button class="btn btn-md white no-border no-bg no-radius p-y-sm p-x-lg" (click)="getNextPage()">
          <img class="w-32 v-m" src="/assets/images/down-arrow.png">
        </button>
      </div>
    </div>
  </footer>

</div>
