
<div class="nav-scroller menu-bar d-none d-md-block">
  <nav class="nav justify-content-center">
    <!--<a class="menu-bar__item" href="#!">Dashboard</a>-->
    <a class="menu-bar__item" *ngIf="loggedIn" href="#" routerLinkActive="menu-bar__item--active"
       routerLink="/favorites">Favourites</a>
    <a class="menu-bar__item" href="#" routerLinkActive="menu-bar__item--active" routerLink="/cart">My cart</a>
    <a class="menu-bar__item" *ngIf="loggedIn" href="#" routerLinkActive="menu-bar__item--active"
       routerLink="/orders">Purchases</a>
    <a class="menu-bar__item" *ngIf="loggedIn" routerLinkActive="menu-bar__item--active" routerLink="/settings"
       href="#">Settings</a>
    <a class="menu-bar__item menu-bar__item--special" routerLink="/home">View store</a>
    <a class="menu-bar__item menu-bar__item--no-transform" target="_blank" [href]="communityUrl">eWanita</a>
  </nav>
</div>
