<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <a routerLink="/orders" class="title-bar__breadcrumb__item">PURCHASES</a>
    | <span class="title-bar__breadcrumb__item">Order {{orderNumber}}</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Purchases</div>
</div>
<div class="order-details-page">
  <div class="container">
    <ng-container *ngIf="order$ | async as order; else loading">

      <div class="order-details-page__prices">
        <div class="order-details-page__prices__total">RM {{order.total | number: '1.2-2'}}</div>
        <div class="order-details-page__prices__discount-total" *ngIf="order.discount_total">You saved
          RM {{order.discount_total | number: '1.2-2'}}</div>
      </div>
      <div class="order-details-page__number">
        <app-order-status-icon [order]="order"></app-order-status-icon> ORDER {{order.number}}
      </div>
      <div class="order-details-page__info">
        <div class="order-details-page__info__column">
          <div class="order-details-page__info__heading">
            ordered
          </div>
          <div>
            {{order.paid_at | date:'d MMM yyyy'}}
          </div>
        </div>

        <div class="order-details-page__info__column" *ngIf="order.status == STATUS_COMPLETE">
          <div class="order-details-page__info__heading">
            shipped
          </div>
          <div>
            {{order.updated_at  | date:'d MMM yyyy'}}
          </div>
        </div>

        <div class="order-details-page__info__column">
          <div class="order-details-page__info__heading">
            items
          </div>
          <div>
            {{order.items_count}}
          </div>
        </div>

        <div class="order-details-page__info__column">
          <div class="order-details-page__info__heading">
            quantity
          </div>
          <div>
            {{order.ordered_quantity}}
          </div>
        </div>
      </div>

      <div class="order-details__items products-grid">
        <div class="products-grid__item" *ngFor="let orderItem of order.orderProducts">
          <app-product-card [product]="orderItem.product">
          </app-product-card>
          <div class="order-details__items__item__quantity">
            RM {{orderItem.price | number: '1.2-2'}}
            x {{orderItem.shipped_at ? orderItem.shipped_quantity : orderItem.quantity}}
          </div>
          <div class="order-details__items__item__shipped-date">
            {{orderItem.shipped_at ? 'shipped ' + (orderItem.shipped_at | date:'d MMM yyyy') : 'not shipped yet'}}
          </div>
        </div>
      </div>
      <app-order-info-footer [order]="order"></app-order-info-footer>
      <div class="d-flex justify-content-center flex-wrap mt-3">
        <a routerLink="/listing" class="btn btn--fixed-lg no-radius btn--outline-black text-uppercase mt-4 mx-3">Continue
          shopping</a>
        <a class="btn btn--fixed-lg no-radius mt-4 btn--grey mx-3" routerLink="/orders">
          BACK to ORDERS
        </a>
      </div>


    </ng-container>

  </div>
  <app-popular-products></app-popular-products>
</div>
<ng-template #loading>
  <app-loading-placeholder></app-loading-placeholder>
</ng-template>
