.order-details-page {
  padding-top: 50px;
  padding-bottom: 50px;

  &__prices {
    text-align: center;
    margin-bottom: 5px;

    &__total, &__discount-total {
      display: inline-block;
    }

    &__total {
      color: #555555;
      margin-right: 19px;
      font-size: 1rem;
    }

    &__discount-total {
      color: #D0021B;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__number {
    line-height: 2.375rem;
    font-size: 2rem;
    text-align: center;
    color: black;
  }

  &__info {
    display: flex;
    justify-content: center;

    &__heading {
      font-size: 0.75rem;
      color: #888;
    }

    &__column {
      padding: 0 20px;
      text-align: center;
    }
  }
}

.products-grid {
  margin-top: 40px;

}

app-order-status-icon {
  position: relative;
  top: -2px;
}

app-popular-products {
  margin-top: 90px;
  display: block;
}
