.btn {
  font-size: 14px;
  font-weight: inherit !important;
}

:host /deep/ {
  .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
    background-color: #0275d8;
  }
}

