<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left"><a href="" class="title-bar__breadcrumb__item">HOME</a>
    | <span
      class="title-bar__breadcrumb__item">{{title}}</span></div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">{{title}}</div>
</div>
<div class="container py-3 px-0">

  <!-- LISTING -->
  <div class="product-list ">

    <div class="products-grid">
      <app-product-card *ngFor="let p of models" [product]="p"
                        class="products-grid__item">
      </app-product-card>
    </div>

    <div class="row block text-center p-y" *ngIf="!hasError && showLoadMoreButton">
      <button class="btn btn-md white no-border no-bg no-radius p-y-sm p-x-lg" (click)="getNextPage()">
        <img class="w-32 v-m" src="/assets/images/down-arrow.png">
      </button>
    </div>

    <app-loading-placeholder [error]="hasError" [data]="queryCall?.closed"></app-loading-placeholder>

    <div *ngIf="queryCall?.closed && models.length ==0 && !hasError" class="text-center">
      <div class="empty-results-block">No items found</div>
    </div>

    <div id="listing-bottom" #listingBottom></div>
  </div>

</div>
