<div class="image-input" [class.image-input--circle]="circle" [class.image-input--has-image]="previewImage">
  <div class="image-input__preview"
       [ngStyle]="previewImage ? {'background-image' : 'url(' + previewImage + ')' , 'background-size' : 'cover' } : {} ">
    <div class="image-input__label">{{label}}</div>
  </div>
  <input type="file" #fileInput accept="image/*" (change)="handleSelectFile(fileInput)" name="image"
         class="image-input__input">
</div>
