.image-input {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 1px dashed #2a2b3c;

  &.image-input--circle {
    border-radius: 100%;
  }

  &__preview {
    background-size: cover;
    height: 100%;
    background: #6b7884 no-repeat center;
  }

  &__label {
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }

  &--has-image &__label {
    display: none;
  }

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100% !important;
  }
}
