<ng-container *ngIf="products$ | async as products;else loading">
  <ng-container *ngIf="products.length">
    <div class="products-widget {{extraClass}}">
      <div class="container">

        <div class="text-center">
          <h4 *ngIf="title" class="products-widget__title">{{title}}</h4>
          <div *ngIf="moreLink"><a [routerLink]="moreLink" [queryParams]="moreLinkParams"
                                   class="products-widget__link">{{moreLabel}}</a></div>
        </div>
        <div class="products-grid">
          <div class="products-grid__item" *ngFor="let p of products">
            <app-product-card [product]="p" class=""></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading-placeholder></app-loading-placeholder>
</ng-template>
