<div class="nav-scroller menu-bar menu-bar--mobile d-md-none">
  <nav class="nav justify-content-between">
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="./profile">Edit Profile</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="./addresses">Addresses</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="./change-password">Change
      Password</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="./auth-apps">Authorized Apps</a>
  </nav>
</div>
<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left"><a href="" class="title-bar__breadcrumb__item">HOME</a>
    | <span
      class="title-bar__breadcrumb__item">Settings</span></div>
  <div class="title-bar__title text-center text-sm-right col-sm-6">SETTINGS</div>
</div>

<div class="row">
  <nav class="sidenav col d-none d-md-block">
    <ul>
      <li class="sidenav__item sidenav__item--header">
        <span class="sidenav__text">Options</span>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="./profile">
          <span class="sidenav__text">Edit Profile</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active">
        <a class="sidenav__link" routerLink="./addresses">
          <span class="sidenav__text">Addresses</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active">
        <a class="sidenav__link" routerLink="./change-password">
          <span class="sidenav__text">Change Password</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active">
        <a class="sidenav__link" routerLink="./auth-apps">
          <span class="sidenav__text">Authorized Apps</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
