.nav-header__text {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.25rem;
  text-align: right;
  letter-spacing: 1.25px;
  color: #000000;
}

.nav-text--options {
  line-height: 1.25rem;
  font-size: 1rem;
  color: #999999;
}

.nav-content--py {
  padding-top: 0.75rem !important;
}

.nav-link--spaced {
  padding-top: 0.20rem;
  padding-bottom: 0.20rem;
}

.nav-link--router:hover {
  border-left: 3px solid #C8C8C8;
  background: rgba(216, 216, 216, 0.15)

}

.nav-link--router.active {
  .nav-text--options {
    color: #000000;
  }

  border-left: 3px solid #000000;
}
