<div class="count-input space-bottom">
  <a class="incr-btn" (click)="updateValue('decrease')" href="javascript:void('decrease')">–</a>
  <input  autocomplete="off" class="quantity" type="text" (keydown)="enforceNumber($event)" #input
         (ngModelChange)="updateValue($event)"
         name="quantity" [ngModel]="quantity"/>
  <a class="incr-btn" (click)="updateValue('increase')" href="javascript:void('increase')">+</a>
</div>
