<div class="page__content">
  <h3 class="page__header page__header--uppercase">
    Change Password
  </h3>
  <div class="row" [class.loading]="loading">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 m-t" [formGroup]="form">

      <div class="md-form-group float-label">
        <input type="password" class="md-input" id="current_password"
               [class.has-value]="form.get('current_password').value"
               name="current_password"
               formControlName="current_password">
        <label for="current_password">current password</label>
        <div *ngIf="form.get('current_password').hasError('required') && form.get('current_password').touched"
             class="md-input-msg text-danger float-right">password required
        </div>
        <div *ngIf="form.get('current_password').hasError('server') && form.get('current_password').touched"
             class="md-input-msg text-danger float-right">{{form.get('current_password').getError('server')}}
        </div>
      </div>


      <div class="md-form-group float-label">
        <input type="password" class="md-input" id="password"
               [class.has-value]="form.get('password').value"
               name="password" formControlName="password">
        <label for="password">new password</label>
        <div *ngIf="form.get('password').hasError('required') && form.get('password').touched"
             class="md-input-msg text-danger float-right">
          password required
        </div>
        <div *ngIf="form.get('password').hasError('server') && form.get('password').touched"
             class="md-input-msg text-danger float-right">{{form.get('password').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <input type="password" class="md-input" id="password_confirmation"
               [class.has-value]="form.get('password_confirmation').value"
               name="password_confirmation"
               formControlName="password_confirmation">
        <label for="password_confirmation">repeat new password</label>
        <div
          *ngIf="( form.get('password_confirmation').hasError('required') || form.get('password_confirmation').hasError('mismatchedPasswords') )  && form.get('password_confirmation').touched"
          class="md-input-msg text-danger float-right">passwords must match
        </div>
        <div *ngIf="form.get('password_confirmation').hasError('server') && form.get('password_confirmation').touched"
             class="md-input-msg text-danger float-right">{{form.get('password_confirmation').getError('server')}}
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="button" (click)="changePassword()" class="btn btn-dark text-uppercase no-radius btn-lg btn-block">
          Change password
        </button>
      </div>
    </div>
  </div>
</div>
