
.proBoxImage {
  .box-footer {
    text-align: center;
    display: table;
    width: 100%;
    padding: 4px;
    margin-top: 20px;
  }

}

.primary-image-placeholder, .thumbnail-image-placeholder {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail-image-placeholder {
  width: 160px;
  height: 160px;
  display: block
}

.thumbnail-wrapper img {
  max-width: 100%;
}

.thumbnail-wrapper {
  float: left;
  padding: 0 5px;
  margin-top: 5px;
  position: relative;

}

.thumbnail__actions__wrapper {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 5px;

  &__remove-btn {
    background: black;
    color: white;
    opacity: 0.65;
    border-radius: 0;
  }
}

.thumbnail-upload {
  height: 160px;
  width: 160px;
  text-align: center;
  position: relative;
  cursor: pointer;

  &.upload-btn {
    font-size: 60px;
    line-height: 157px;
  }

  color: #9b9b9b;
  overflow: hidden;
  background: #d8d8d8;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 0;
  }
}

.tags button {
  margin: 5px;
}

app-feedback-button {
  display: inline-block;
}

ng-select.ng-touched.ng-invalid /deep/ .ng-select-container, quill-editor.ng-invalid.ng-touched /deep/ [quill-editor-element] {
  border-color: #D0021B;
}

:host {
  /deep/ {

    [quill-editor-element] {
      min-height: 120px;

      .ql-editor {
        max-height: 300px;
      }
    }

    .cropper {
      max-height: 450px;
    }

    ng-select .ng-select-container {
      border-radius: 0;
    }
  }

}

quill-editor {
  display: block;
}

quill-editor.ng-invalid.ng-touched /deep/ .ql-toolbar {
  border-bottom-color: #D0021B;
}

.loading-backdrop {
  z-index: 1040;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: progress;
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  display: block;
}

.loading-wrapper {
  padding: 40px;

}

.loading-block .modal {
  top: 25%;
}

.confirm-modal {
  button.close span {
    font-size: 30px;
  }

  .btn {
    width: 125px;
    font-weight: normal;
  }

}

.save__buttons__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  left: 2px;

  .save__buttons {
    background-color: #faf9f5;
  }
}
