<div>
  <div class="block padding white m-b-xs b-b box-shadow box-shadow-z3 ">
    <h3 class="text-u-c text-muted m-b-1 _400">{{isNew ? 'Add Product' : 'Edit Product'}}</h3>
    <div>
      <div class="pull-left m-r-md">
        <img
          [src]="product.images[currentImageIndex]?.variants
          ? product.images[currentImageIndex].variants['128']
          : (product.images[currentImageIndex]?.url ? product.images[currentImageIndex].url : 'assets/images/product-default.jpg')"
          class="img-responsive w-128">
      </div>
      <div>
        <div>
          <span class="_400 h5">{{ngForm.get('name').value}}</span>
          <span class="pull-right h5 _600 clear"
                *ngIf="ngForm.get('price').value">RM {{ngForm.get('price').value | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="ngForm.get('sku').value" class="m-t-sm">
          <span class="text-muted">SKU/Stockcode</span>
          {{ngForm.get('sku').value}}
        </div>
        <div>
          <div class="text-sm" *ngIf="!isNew">
            <app-product-status-label [product]="product"></app-product-status-label>
          </div>
        </div>
        <div class="m-t-md" [formGroup]="ngForm">
          <label class="md-check item-status m-r">
            <input type="radio" formControlName="status" [value]="STATUS_DRAFT" name="status"> <i class="black"></i>Draft
          </label>
          <label class="md-check item-status m-r">
            <input type="radio" formControlName="status" [value]="STATUS_PUBLISHED" name="status"> <i
            class="primary"></i> Post for sale
          </label>
          <label class="md-check item-status m-r">
            <input type="radio" formControlName="status" [value]="STATUS_WITHDRAWN" name="status"> <i
            class="danger"></i> Withdraw
          </label>
          <span class="pull-right clear">
            <button class="btn btn-outline b-black text-black no-radius"
                    [disabled]="processing"
                    (click)="showPreview()">Preview</button>
            <button class="m-l-sm btn btn--outline-red no-radius"
                    *ngIf="!isNew"
                    [disabled]="processing"
                    (click)="confirmRemove()">Delete</button>
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="p-y m-y-sm">
    <div href="#" *ngFor="let image of product.images;let i = index">
      <div *ngIf="image.url" class="thumbnail-wrapper">
        <div class="thumbnail-upload">
            <span>
              <img *ngIf="image.variants; else image_thumbnail_placeholder" [src]="image.variants[256]">
            </span>
        </div>
        <div class="thumbnail__actions__wrapper">
          <button (click)="removeImage(i)"
                  ngbTooltip="Remove Picture"
                  placement="bottom" class="btn thumbnail__actions__wrapper__remove-btn btn-default btn-xs"
                  aria-hidden="true"><img src="assets/images/cross-remove-white.png" width="11"></button>
        </div>
      </div>
      <ng-template #image_thumbnail_placeholder>
                            <span class="thumbnail-image-placeholder"
                                  [ngStyle]="{'background-image': 'url(' + image.url +')'}"></span>
      </ng-template>
    </div>
    <div class="thumbnail-wrapper" *ngIf="product.images.length < MAX_IMAGES_COUNT">
      <div class="thumbnail-upload upload-btn">
        <span>+</span>
        <input type="file" accept="image/x-png,image/jpeg,image/jpg"
               (change)=handleImageSelect(input)
               #input name="image">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-danger m-t-1" *ngIf="extraFieldsRequired && !product.images.length && ngForm.touched">
      Please upload at least on image
    </div>
  </div>
  <div class="padding">
    <form name="form" novalidate role="form">
      <h3 class="text-u-c text-muted  _400">Product details</h3>
      <div class="text-muted m-b-2">* mandatory fields</div>
      <div [formGroup]="ngForm" class="m-b-lg">
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label  text-muted" for="category_id">Product category*</label>
          <div class="col-sm-10">
            <ng-select [clearOnBackspace]="true" [clearable]="false"
                       bindValue="id"
                       bindLabel="name"
                       [items]="categories"
                       id="category_id"
                       formControlName="category_id"
                       placeholder="Select category">
            </ng-select>
            <div class="form-control-feedback feedback">
              <div *ngIf="ngForm.controls.category_id.hasError('required')" class="help-block text-danger">
                Category required
              </div>
              <div *ngIf="ngForm.controls.category_id.hasError('server')" class="help-block text-danger">
                {{ngForm.controls.category_id.getError('server')}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label text-muted" for="name">Product name*</label>
          <div class="col-sm-10">
            <input type="text"
                   id="name"
                   formControlName="name"
                   name="name"
                   minlength="3"
                   class="form-control"
                   placeholder="product name">
            <div class="form-control-feedback feedback">
                  <span *ngIf="ngForm.controls.name?.errors?.minlength" class="help-block text-danger">
                                                        Enter at least 5 character
                                                    </span>
              <span *ngIf="ngForm.controls.name?.errors?.required" class="help-block text-danger">
                                                        Product name required
                                                    </span>
              <span *ngIf="ngForm.controls.name?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.name.errors.server}}
                                                    </span>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label text-muted" for="model">Product model/no. *</label>
          <div class="col-sm-10">
            <input type="text" id="model" autocomplete="off" name="model" [ngbTypeahead]="modelSearch"
                   required
                   minlength="2"
                   [class.loading]="modelLoading"
                   formControlName="model"
                   class="form-control"
                   placeholder="product model/no.">
            <div class="form-control-feedback feedback">
                   <span *ngIf="ngForm.controls.model.hasError('minlength')" class="help-block text-danger">
                                                        Enter at least 2 character
                                                    </span>
              <span *ngIf="ngForm.controls.model.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.model.errors.server}}
                                                    </span>
              <span *ngIf="ngForm.controls.model.hasError('required')" class="help-block text-danger">
                                                        Product model required
                                                    </span>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label text-muted" for="sku">SKU / Stockcode</label>
          <div class="col-sm-10">
            <input type="text" id="sku"
                   name="sku"
                   formControlName="sku"
                   class="form-control"
                   placeholder="enter your sku if you use this">
            <div class="form-control-feedback feedback">
                  <span *ngIf="ngForm.controls.sku.hasError('minlength')" class="help-block text-danger">
                                                        Enter at least 3 character
                                                    </span>
              <span *ngIf="ngForm.controls.sku.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.sku.errors.server}}
                                                    </span>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label text-muted" for="brand">Product brand</label>
          <div class="col-sm-10">
            <input type="text"
                   id="brand"
                   formControlName="brand"
                   name="brand"
                   minlength="3"
                   class="form-control"
                   placeholder="enter your product brand to help buyers find your products by brand">
            <div class="form-control-feedback feedback">
            <span *ngIf="ngForm.controls.brand.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.brand.errors.server}}
                                                    </span>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label class="col-sm-2 form-control-label text-muted"

                 for="tagSearch">Product tags*</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control"
                     (keypress)="preventEnterKeyDefault($event)"
                     [ngbTypeahead]="tagSearch"
                     [class.loading]="tagLoading"
                     minlength="2"
                     autocomplete="off"
                     (selectItem)="addTag(ngForm.get('tagSearch').value)"
                     placeholder="enter after each keyword"
                     id="tagSearch"
                     formControlName="tagSearch"
                     name="tagSearch">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="text-danger"
                 *ngIf="extraFieldsRequired && product.tags.length==0 && ngForm.get('tagSearch').touched">
              Product tags required
            </div>
            <div class=" p-a-xs tags" *ngIf="product.tags.length > 0">
              <button class="btn btn-xs grey-200 _400" *ngFor="let tag of product.tags"> {{tag}}
                <img (click)="removeTag(tag)" src="assets/images/cross-remove-black.png" width="9">
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row has-feedback">
          <label for="description" class="col-sm-2 form-control-label text-muted">Description*</label>
          <div class="col-sm-10">

            <quill-editor [modules]="quillEditorModules"
                          minlength="10"
                          name="description" id="description" placeholder="product description"
                          formControlName="description">

            </quill-editor>

            <div class="form-control-feedback feedback">
                  <span *ngIf="ngForm.controls.description?.errors?.minlength" class="help-block text-danger">
                                                        Enter at least 5 character
                                                    </span>
              <span *ngIf="ngForm.controls.description?.errors?.required" class="help-block text-danger">
                                                        Description required
                                                    </span>
              <span *ngIf="ngForm.controls.description?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.description.errors.server}}
                                                    </span>
            </div>
          </div>
        </div>
        <h3 class="text-u-c text-muted m-y-2 _400">Pricing & Stock</h3>
        <div class="form-group row has-feedback"
             [class.has-error]="ngForm.get('price').invalid && ngForm.get('price').touched">
          <label class="col-sm-2 form-control-label text-muted" for="price">Price*</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text no-radius white no-b-r">MYR</span>
              <input type="text" id="price"
                     formControlName="price"

                     name="price"
                     class="form-control"
                     placeholder="enter price">
            </div>
            <div class="form-control-feedback" *ngIf="ngForm.get('price').touched">
                  <span *ngIf="ngForm.controls.price.hasError('pattern') || ngForm.controls.price.hasError('required')"
                        class="help-block text-danger">
                                                        Please enter valid amount
                                                    </span>
              <span *ngIf="ngForm.controls.price?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.price.errors.server}}
                                                    </span>
            </div>
          </div>

        </div>
        <div class="form-group row has-feedback"
             [class.has-error]="ngForm.get('discount_price').invalid && ngForm.get('discount_price').touched">
          <label class="col-sm-2 form-control-label text-muted" for="price">Discount price</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text no-radius white no-b-r">MYR</span>
              <input type="text" id="discount_price"
                     formControlName="discount_price"
                     name="discount_price"
                     class="form-control"
                     placeholder="enter discount price">
            </div>
            <div class="form-control-feedback" *ngIf="ngForm.get('discount_price').touched">
                  <span *ngIf="ngForm.controls.discount_price.hasError('pattern')" class="help-block text-danger">
                                                        Please enter valid amount
                                                    </span>

              <span *ngIf="ngForm.controls.discount_price.hasError('discountLargeThanPrice')"
                    class="help-block text-danger">
                                                        'Discount price' must be lower than 'Price'
                                                    </span>
              <span *ngIf="ngForm.controls.discount_price?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.discount_price.errors.server}}
                                                    </span>
            </div>
          </div>
        </div>

        <div class="form-group row has-feedback">
          <div class="col-sm-6">
            <label class="md-check" for="special">
              <input id="special"
                     name="is_special"
                     formControlName="is_special"
                     type="checkbox"
                     value="true">
              <i class="black"></i>
              Mark as 'Special'</label>
          </div>
          <div class="col-sm-6 ">
            <label class="md-check" for="clearance">
              <input id="clearance"
                     name="is_clearance"
                     formControlName="is_clearance"
                     type="checkbox"
                     value="true">
              <i class="black"></i>
              Mark as 'Clearance'
            </label>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="price">Selling unit*</label>
              <div class="col-sm-8">
                <input type="text" id="unit_of_measure" name="unit_of_measure" formControlName="unit_of_measure"
                       class="form-control"
                       placeholder="e.g. each, 100, carton, kg">
                <span *ngIf="ngForm.controls.unit_of_measure?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.unit_of_measure.errors.server}}
                                                    </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="minimum_order_quantity">Minimum buy
                quantity</label>
              <div class="col-sm-8">
                <input type="text" id="minimum_order_quantity" name="minimum_order_quantity"
                       formControlName="minimum_order_quantity"
                       class="form-control"
                       placeholder="">
                <div class="form-control-feedback feedback">
                  <span
                    *ngIf="ngForm.controls.minimum_order_quantity.hasError('pattern')|| ngForm.controls.minimum_order_quantity.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid quantity
                                                    </span>
                  <span *ngIf="ngForm.controls.minimum_order_quantity?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.minimum_order_quantity.hasError('server')}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="quantity">Quantity in stock*</label>
              <div class="col-sm-8">
                <input type="text" id="quantity" name="quantity" formControlName="quantity"
                       class="form-control"
                       placeholder="product quantity">
                <div class="form-control-feedback feedback">
                  <span *ngIf="ngForm.controls.quantity?.errors?.pattern || ngForm.controls.quantity?.errors?.min"
                        class="help-block text-danger">
                                                        Enter valid quantity
                                                    </span>
                  <span *ngIf="ngForm.controls.quantity?.errors?.required" class="help-block text-danger">
                                                        Quantity required
                                                    </span>
                  <span *ngIf="ngForm.controls.quantity?.errors?.server" class="help-block text-danger">
                                                        {{ngForm.controls.quantity.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="md-check" for="subtract">
              <input id="subtract"
                     name="subtract"
                     formControlName="subtract"
                     type="checkbox"
                     value="true">
              <i class="black"></i>
              Subtract stock on sale</label>
          </div>
        </div>

        <h3 class="text-u-c text-muted m-y-2 _400">Product dimensions</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="weight">Product weight</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="weight" name="weight" formControlName="weight"
                         class="form-control no-b-r"
                         placeholder="product weight">
                  <span class="input-group-text no-radius white">kg</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('weight').touched">
                  <span
                    *ngIf="ngForm.controls.weight.hasError('number') || ngForm.controls.weight.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid weight
                                                    </span>
                  <span *ngIf="ngForm.controls.weight.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.weight.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="height">Product height</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="height" name="height" formControlName="height"
                         class="form-control no-b-r"
                         placeholder="product height">
                  <span class="input-group-text no-radius white">cm</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('height').touched">
                  <span
                    *ngIf="ngForm.controls.height.hasError('number') || ngForm.controls.height.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid height
                                                    </span>
                  <span *ngIf="ngForm.controls.height.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.height.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="length">Product length</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="length" name="length" formControlName="length"
                         class="form-control no-b-r"
                         placeholder="product length">
                  <span class="input-group-text no-radius white">cm</span>
                </div>
                <div class="form-control-feedback" *ngIf="ngForm.get('length').touched">
                  <span
                    *ngIf="ngForm.controls.length.hasError('number') || ngForm.controls.length.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid length
                                                    </span>
                  <span *ngIf="ngForm.controls.length.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.length.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="width">Product width</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="width" name="width" formControlName="width"
                         class="form-control no-b-r"
                         placeholder="product width">
                  <span class="input-group-text no-radius white">cm</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('width').touched">
                  <span
                    *ngIf="ngForm.controls.width.hasError('number') || ngForm.controls.width.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid width
                                                    </span>
                  <span *ngIf="ngForm.controls.width.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.width.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="md-check" for="requires_shipping">
                <input id="requires_shipping"
                       name="requires_shipping"
                       formControlName="requires_shipping"
                       type="checkbox"
                       [value]="true">
                <i class="black"></i>
                Requires shipping
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="shipping_weight">Shipping weight</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="shipping_weight" name="shipping_weight" formControlName="shipping_weight"
                         class="form-control no-b-r"
                         placeholder="shipping weight">
                  <span class="input-group-text no-radius white ">kg</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('shipping_weight').touched">
                  <span
                    *ngIf="ngForm.controls.shipping_weight.hasError('number') || ngForm.controls.shipping_weight.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid weight
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_weight.hasError('required')"
                        class="help-block text-danger">
                                                        Shipping weight required
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_weight.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.shipping_weight.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="shipping_height">Shipping height</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="shipping_height" name="shipping_height" formControlName="shipping_height"
                         class="form-control no-b-r"
                         placeholder="shipping height">
                  <span class="input-group-text no-radius white ">cm</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('shipping_height').touched">
                  <span
                    *ngIf="ngForm.controls.shipping_height.hasError('number') || ngForm.controls.shipping_height.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid height
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_height.hasError('required')"
                        class="help-block text-danger">
                                                        Shipping height required
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_height.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.shipping_height.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="shipping_length">Shipping length</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="shipping_length" name="shipping_length" formControlName="shipping_length"
                         class="form-control no-b-r"
                         placeholder="shipping length">
                  <span class="input-group-text no-radius white ">cm</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('shipping_length').touched">
                  <span
                    *ngIf="ngForm.controls.shipping_length.hasError('number') || ngForm.controls.shipping_length.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid length
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_length.hasError('required')"
                        class="help-block text-danger">
                                                        Shipping length required
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_length.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.shipping_length.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row has-feedback">
              <label class="col-sm-4 form-control-label text-muted" for="shipping_width">Shipping width</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" id="shipping_width" name="shipping_width" formControlName="shipping_width"
                         class="form-control no-b-r"
                         placeholder="shipping width">
                  <span class="input-group-text no-radius white ">cm</span>
                </div>
                <div class="form-control-feedback " *ngIf="ngForm.get('shipping_width').touched">
                  <span
                    *ngIf="ngForm.controls.shipping_width.hasError('number') || ngForm.controls.shipping_width.hasError('biggerThan')"
                    class="help-block text-danger">
                                                        Enter valid width
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_width.hasError('required')"
                        class="help-block text-danger">
                                                        Shipping width required
                                                    </span>
                  <span *ngIf="ngForm.controls.shipping_width.hasError('server')" class="help-block text-danger">
                                                        {{ngForm.controls.shipping_width.errors.server}}
                                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <div class="rows save__buttons__wrapper">
      <div class="col-12 ml-auto save__buttons b-b b-t b-l">
        <div class="m-t-sm btn-groups text-center">
          <button class="dark btn m-r-xs p-x-md no-radius"
                  [disabled]="processing"
                  (click)="save()">Save
          </button>
          <a (click)="cancel()" class="btn p-x-md no-radius grey-300 b-a b-light">Cancel</a>
        </div>
      </div>
    </div>

    <div *ngIf="unhandledValidationErrors.length" class="text-danger">
      <ul>
        <li *ngFor="let e of unhandledValidationErrors">{{e}}</li>
      </ul>
    </div>
    <div *ngIf="processing" class="loading-block">
      <div class="loading-backdrop">
      </div>
      <div class="modal fade in show">
        <div class="modal-dialog modal-lg">
          <div>
            <div class="loading-wrapper">
              <div class="row text-center">
                <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                  <span class="text-muted">{{processInfo}}</span>
                  <app-loading-placeholder></app-loading-placeholder>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<ng-template #previewModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close"
            (click)="hidePreview()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="showingPreview">
      <app-product-full-view [product]="product"
                             [showItemActions]="false"></app-product-full-view>
      <app-product-description [product]="product"></app-product-description>
    </div>
  </div>
</ng-template>

<ng-template #confirmationModal>
  <div class="modal-header no-b-b">
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelConfirmation()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center p-b-lg">
      <h3 class="font-weight-light">{{confirmMessage}}</h3>
    </div>
    <div class="text-center">
      <button type="button" class="btn no-radius font-weight-normal grey-300 b-a b-light " (click)="cancelConfirmation()">CANCEL</button>
      <button type="button" class="btn no-radius font-weight-normal dark m-l-sm px-4" (click)="handleConfirmAction()">YES
      </button>
    </div>
  </div>
</ng-template>
