<ng-container *ngIf="profile">
  <ng-container [ngSwitch]="profile.type">
    <app-individual-profile-form *ngSwitchCase="TYPE_INDIVIDUAL" [profile]="profile"></app-individual-profile-form>
    <app-corporate-profile-form *ngSwitchCase="TYPE_CORPORATE" [profile]="profile">Corporate</app-corporate-profile-form>
  </ng-container>
</ng-container>
