.user-app {
  border: 0;
  margin-bottom: 1.5rem;

  &__logo {
    height: 160px;
    border: 1px solid #ccc;
    background: transparent no-repeat center;
    background-size: contain;
  }

  &__name {
    text-align: center;
    padding: 0.25rem 1.25rem 1.25rem;
  }
}
