<div class="page__content">
  <h4 class="page__header page__header--uppercase">Authorized apps
  </h4>
  <div class="row mt-4" *ngIf="apps$ | async as apps">
    <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let app of apps">
      <div class="user-app">
        <div class="user-app__logo" [style.background-image]="'url(' + app.logo +')'"></div>
        <div class="user-app__name">{{app.name}}</div>
      </div>
    </div>

  </div>
</div>
