<div class="p-3">
  <div class=" p-b-sm text-center b-b">
    {{
    itemsCount > 0
      ? itemsCount + ' item' + (itemsCount > 1 ? 's' : '')
      : 'Your cart is empty'
    }}
  </div>
  <form class="m-a-0">
    <div class="scrollable" style="max-height: 350px">
      <ul class="list-group no-bg m-a-0 no-radius no-border">
        <li class="list-item pl-0" *ngFor="let item of items">

          <a class="list-left" [routerLink]="['/product', item.product.link, item.product.id]">
                            <span class="block w-64 item-image">
                              <img class="img-responsive"
                                   [src]="item.product.primaryImage.variants ? item.product.primaryImage.variants[96] : item.product.primaryImage.url"
                                   [alt]="item.product.name">
                            </span>
          </a>
          <div class="list-body">
            <div><a class="text-ellipsis _500"
                    [routerLink]="['/product', item.product.link, item.product.id]">{{item.product.name}}</a></div>
            <div class="text-xs">
              <span class="m-r-xs">{{item.quantity}}&nbsp;x&nbsp;</span>
              <span class="product-price ">
                RM {{(item.product.discount_price ? item.product.discount_price : item.product.price) | number:'1.2-2'}}
              </span>
              <div class="stock-status in-stock">IN STOCK</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
  <div class="b-t pt-3 cart-buttons d-flex justify-content-between" *ngIf="itemsCount">
    <a routerLink="/cart" class="btn  no-radius grey-300 px-4">EDIT CART</a>
    <a routerLink="/cart/checkout" class="btn no-borders px-4 no-radius primary-red">CHECKOUT</a>
  </div>
</div>
