<div class="nav-scroller menu-bar menu-bar--mobile d-md-none">
  <nav class="nav justify-content-between">

    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order" [queryParams]="{state:STATE_NEW}">
      New orders
    </a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order" [queryParams]="{state:STATE_OVERDUE}">
      Overdues
    </a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order" [queryParams]="{state:STATE_SOLD_OUT}">
      Out of Stock
    </a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order" [queryParams]="{state:STATE_SHIPPED}">
      Shipped
    </a>
    <!--<a class="menu-bar__item" routerLinkActive="menu-bar__item&#45;&#45;active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order" [queryParams]="{state:STATE_RETURN}">
      Returns
    </a>-->
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="/seller/order">
      All Orders
    </a>
  </nav>
</div>
<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a href="" class="title-bar__breadcrumb__item">HOME</a>
    | <span class="title-bar__breadcrumb__item">Orders</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6">Orders</div>
</div>
<div class="row flex-nowrap">
  <nav class="sidenav col d-none d-md-block">
    <ul>
      <li class="sidenav__item sidenav__item--header"><span class="sidenav__text">Customer orders</span></li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/order" [queryParams]="{state:STATE_NEW}">
          <img class="sidenav__icon" src="assets/images/star-grey.svg">
          <span class="sidenav__text">New orders</span>
          <span class="sidenav__label">{{statistics.new}}</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/order" [queryParams]="{state:STATE_OVERDUE}">
          <img class="sidenav__icon" src="assets/images/overdue-grey.svg">
          <span class="sidenav__text">Overdues</span>
          <span class="sidenav__label">{{statistics.overdue}}</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/order" [queryParams]="{state:STATE_SOLD_OUT}">
          <img class="sidenav__icon" src="assets/images/sold-out-grey.svg">
          <span class="sidenav__text">Out of Stock</span>
          <span class="sidenav__label">{{statistics.sold_out}}</span>
        </a>
      </li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/order" [queryParams]="{state:STATE_SHIPPED}">
          <img class="sidenav__icon" src="assets/images/shipped-grey.svg">
          <span class="sidenav__text">Shipped</span>
          <span class="sidenav__label">{{statistics.shipped}}</span>
        </a>
      </li>
      <!--<li class="sidenav__item" routerLinkActive="sidenav__item&#45;&#45;active"
          [routerLinkActiveOptions]="{exact:true}">
        <a disabled class="sidenav__link" routerLink="/seller/order" [queryParams]="{state:STATE_RETURN}">
          <img class="sidenav__icon" src="assets/images/return-grey.svg">
          <span class="sidenav__text">Returns</span>
          <span class="sidenav__label">{{statistics.returns}}</span>
        </a>
      </li>-->
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/order">
          <span class="sidenav__text">All Orders</span>
          <span class="sidenav__label">{{statistics.all}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
