<div class="nav-scroller menu-bar d-none d-md-block">
  <nav class="nav justify-content-center">
    <!--<a class="menu-bar__item" routerLinkActive="menu-bar__item&#45;&#45;active" href="#!">Dashboard</a>-->
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="/seller/product">Products</a>
    <a class="menu-bar__item" href="#" routerLinkActive="menu-bar__item--active" routerLink="/seller/order">Orders</a>
    <!--<a class="menu-bar__item" href="#" routerLinkActive="menu-bar__item&#45;&#45;active">Customers</a>-->
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="/seller/report">Reports</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" routerLink="/seller/settings">Settings</a>
    <a class="menu-bar__item menu-bar__item--special" routerLink="/home">View store</a>
    <a class="menu-bar__item menu-bar__item--no-transform" target="_blank" [href]="communityUrl">eWanita</a>
  </nav>
</div>
