<app-go-top-button></app-go-top-button>
<div class="footer mb-5 pb-5 px-4">
  <div class="row no-gutters justify-content-between">
    <div>
      <a class="navbar-brand py-4">
        <img [src]="logoUrl" alt="epreneur">
      </a>
    </div>
    <div>
      <div class="nav text-sm m-y">
        <span class="inline l-s-n-1x nav-text text-muted m-r">© {{year}} Socosphere</span>
        <a class="nav-link m-r-sm" routerLink="/terms">
          <span>Terms of Use</span>
        </a>
        <a class="nav-link m-r-sm" routerLink="/privacy">
          <span>Privacy</span>
        </a>
      </div>
    </div>
  </div>
</div>
