<div class="page-content" id="home">
  <div class="white row-col">
    <div class="row-cell v-b">
      <div class="container p-y banners">

        <div class="row no-gutter">
          <div class="col-12">
            <a routerLink="/listing" [queryParams]="{is_special:1}"><img src="assets/images/banner-2.jpg" width="100%"></a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="p-y-lg">
    <app-loading-placeholder></app-loading-placeholder>
  </div>
</ng-template>
<ng-container *ngIf="specialProducts$ | async as specialProducts;else loading">
  <div class="p-y-lg b-t" *ngIf="specialProducts.length > 0">
    <div class="container px-0">
      <h4 class="text-center text-uppercase _400 mb-0">Deals</h4>
      <div class="text-center"><a routerLink="/listing" [queryParams]="{is_special:1}" class="_400 grey-777">more ></a>
      </div>
      <div class="clearfix"></div>
      <div class="products-grid mt-3">
        <div class="products-grid__item" *ngFor="let p of specialProducts">
          <app-product-card [product]="p"></app-product-card>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<div class="p-y-lg b-t">
  <div class="container px-0">

    <h4 class="text-center text-uppercase _400 mb-0">Popular right now</h4>
    <div class="text-center"><a routerLink="/listing" class="_400 grey-777">more ></a></div>
    <div class="clearfix"></div>
    <div class="products-grid mt-3">
      <ng-container *ngIf="popularProducts$ | async as popularProducts;else loading">
        <div class="products-grid__item" *ngFor="let p of popularProducts">
          <app-product-card [product]="p"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="p-y-lg b-t">
  <div class="container px-0">

    <ng-container *ngIf="hasRecentlyViewed">

      <h4 class="text-center text-uppercase _400 mb-0">Recently viewed & more</h4>
      <div class="text-center"><a routerLink="/listing" class="_400 grey-777">more ></a></div>
      <div class="clearfix"></div>
      <div class="products-grid mt-3">
        <ng-container *ngIf="recentlyViewedProducts$ | async as recentlyViewedProducts;else loading">
          <div class="products-grid__item" *ngFor="let p of recentlyViewedProducts">
            <app-product-card [product]="p"></app-product-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
