
:host /deep/ {
  .ngb-carousel {
    .carousel-control-left,.carousel-control-right {
      opacity: 0;
      display: none;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      transition: transform 0.15s ease-out, opacity 0.15s ease-out;
      background: #FFF;
      border: 1px transparent solid;
      cursor: pointer;
      color: #222;
      height: auto;
      padding: 5% 1%;
      position: absolute;
      top: 50%;
      text-align: center;
      z-index: 20;
      width: 5%;
      bottom: auto;
    }
    &:hover .carousel-control-left,&:hover .carousel-control-right {
      opacity: 0.8;
      display: block;
      transform: translateX(0px) translateY(-50%);
    }
  }
  .carousel-item {
    background-color: #2f466c;
    color: white;
  }

  .carousel-inner {
    height: 320px;
    border-radius: 4px;
  }

}

.carousel-item {
  .slide-description {
    text-align: center;
    padding: 60px 20px 20px;
    h4 {
      font-size: 26px;
      margin-bottom: 18px
    }
    a {
      font-size: 14px;
      font-weight: bold;
    }
  }

}

.secondary-banner {
  height: 220px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 19px;
  .description {
    position: absolute;
    top: 30%;
    left: 5%;
    font-weight: 500;
    h4 {
      font-size: 20px;
      line-height: 24px;
    }
    span {
      font-size: 14px;
      line-height: 22px;
    }
  }

}

.tertiary-banner {
  background-color: #2f466c;
  color: #fff;
  padding: 12px 18px;
  height: 80px;
  border-radius: 4px;
  span {
    text-align: left;
    font-weight: 500;
    line-height: 50px;
    font-size: 14px;
  }
}
