<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a href="" class="title-bar__breadcrumb__item">HOME</a> |
    <span class="title-bar__breadcrumb__item">Privacy</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">
    Privacy
  </div>
</div>

<div class="container py-5">
  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">We Take Our Customer’s Privacy Seriously And We Will Only Collect,
      Record, Hold, Store And Use Your Personal Information As Outlined Below.
    </h5>
    <p class="documentation-text-box__body">
      Data protection is a matter of trust and your privacy is important to us.
      We shall therefore only process your name and other information which
      relates to you in the manner set out in this Privacy Policy. We will only
      collect information where it is necessary for us to do so and we will only
      collect information if it is relevant to our dealings with you. We will
      only keep your information for as long as we are either required to by law
      or as is relevant for the purposes for which it was collected. You can
      visit E-wanita.com (or affiliated marketplace sites) and browse
      without having to provide your personal details. During your visit to our
      marketplace site(s), you may remain anonymous and at no time would we be
      able to identify you unless you have registered an account (“SOCOE account”) with us on our website and have logged on with your user name
      and password. If you have any comments or suggestions, we would be pleased
      to receive them at our address or by contacting our Customer Service.
    </p>
  </div>

  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">Collection Of Personal Information</h5>
    <p class="documentation-text-box__body">
      SOCOE does not sell, share or trade customer’s personal information
      collected online with third parties. Personal information collected online
      will only be disclosed within our corporate group and to third parties for
      the purposes for which it was collected, as authorised and consented by
      you. For example, the conduct of a sales transaction of a product of your
      choice on our website. When you register a SOCOE account, the personal
      information we collect may include your:
    </p>
    <ul class="documentation-text-box__body">
      <li>Name</li>
      <li>Delivery Address</li>
      <li>Email Address</li>
      <li>Date of Birth (Optional)</li>
      <li>Gender (Optional)</li>
    </ul>
    <p class="documentation-text-box__body">
      When you make a purchase on the SOCOE website, the additional personal
      information we collect may include:
    </p>
    <ul class="documentation-text-box__body">
      <li>Telephone Number</li>
      <li>Mobile Number</li>
      <li>Delivery Address</li>
      <li>Credit card details (optional) and payment methodology</li>
    </ul>
    <p class="documentation-text-box__body">
      The mandatory personal information we collect from you will be used and or
      shared within our corporate group and to third parties for one or the
      following purposes:
    </p>

    <ul class="documentation-text-box__body">
      <li>
        To deliver products that you purchase from our website. For example, we
        may pass your name and address on to a third party such as our courier
        service company or supplier of choice in order to make delivery of the
        product to you;
      </li>
      <li>
        To inform and update you on the delivery of the product and for customer
        support purposes;
      </li>
      <li>To provide you with relevant product information such as SKUs;</li>
      <li>
        To process your orders and to provide you with the services and
        information offered through our website and which you may request;
      </li>
      <li>To allow us to administer your registered account with us;</li>
      <li>
        To verify and carry out financial transactions in relation to payments
        you may make online. For example, payments that you make through our
        website will be processed by our appointed agent. Disclosure to these
        data processing agents such as that of our appointed agent in this
        context is necessary for the purpose of conducting the sales transaction
        that you have opted for.
      </li>
      <li>
        The non-mandatory personal information such as date of birth and gender
        are used to carry out research/es on our users’ demographics and for us
        to send you suggestion or information in the form of promotional emails
        which we think you may find useful, thereby, enhancing your experience
        when you visit our website. By providing us these non-mandatory personal
        information, you are deemed to have consented to be part of our
        research/es and to receiving suggestions or information as outlined
        above.
      </li>
    </ul>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Subscription to our marketing and promotional materials</span>
    <p class="documentation-text-box__body">
      In addition to the personal information outlined above, when you register
      a SOCOE account with us, you shall be asked if you would like to subscribe
      to our marketing and or promotional materials from time to time. These
      marketing and or promotional materials may come from within our corporate
      group wholly or through affiliation with third parties. If you choose to
      so subscribe, you are deemed to have consented to us processing within our
      corporate group and or third parties your personal information for this
      purpose. You can always choose to unsubscribe from marketing information
      at any time by opting for the unsubscribe function within the electronic
      marketing material.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Accessing Actual Orders</span>
    <p class="documentation-text-box__body">
      Your actual order details may be stored with us but for security reasons,
      cannot be retrieved directly by us. However, you may access this
      information by logging into your account on the website. Here, you can
      view the details of your orders that have been completed, those which are
      open and those which are to be dispatched as well as administer your
      address details, bank details and any newsletter to which you may have
      subscribed. You undertake to treat the personal access data confidentially
      and not make it available to unauthorised third parties. We cannot assume
      any liability for any misuse of passwords unless this misuse is through
      our own fault.
    </p>
  </div>

  <div class="documentation-text-box m-t-lg">
    <h5 class="documentation-text-box__title">Accessing And Updating Your Personal Information</h5>
    <p class="documentation-text-box__body">
      You can access and update your personal information anytime by accessing
      your account on this website. The tracking we implemented is based on
      Display Advertising (e.g., Remarketing, Google Display Network Impression
      Reporting, the DoubleClick Campaign Manager integration, or Google
      Analytics Demographics and Interest Reporting) and can collect information
      such as age, gender, interests and interaction with ads impressions. SOCOE
      and third-party vendors, including Google, use first-party cookies (such
      as the Google Analytics cookie) and third-party cookies (such as the
      DoubleClick cookie) together to inform, optimize, and serve ads based on
      someone's past visits to your website and across the Internet
    </p>
  </div>

  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">Security Of Your Personal Information</h5>
    <p class="documentation-text-box__body">
      SOCOE ensures that all information collected will be safely and securely
      stored. We protect your personal information by:
    </p>
    <ul class="documentation-text-box__body">
      <li>Allowing access to personal information only via passwords;</li>
      <li>
        Maintaining technology products to prevent unauthorised computer access;
        and
      </li>
      <li>
        Securely destroying your personal information when it is no longer
        needed for our record retention purposes
      </li>
    </ul>
    <p class="documentation-text-box__body">
      SOCOE uses 128-bit SSL (Secure Sockets Layer) encryption technology when
      processing your financial details. 128-bit SSL encryption and is the
      industry standard.
    </p>
  </div>

  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">Disclosure Of Personal Information</h5>
    <p class="documentation-text-box__body">
      We will not share your information with any other organisations other than
      our corporate group and those third parties directly related to and
      necessary for the purchase of products, delivery of the same and purpose
      for which you have authorised. In exceptional circumstances, SOCOE may be
      required to disclose personal information, such as when there are grounds
      to believe that the disclosure is necessary to prevent a threat to life or
      health, or required by the law. SOCOE is committed to complying with the
      Personal Data Protection Act 2010, in particular, its policies as well as
      corresponding guidelines and orders. If you believe that your privacy has
      been breached by SOCOE please contact Customer Service and we will resolve
      the issue.
    </p>
  </div>

  <div class="documentation-text-box m-t-lg p-t-lg">
    <h5 class="documentation-text-box__title">Collection Of Computer Data Not Necessarily Personal Information</h5>
    <p class="documentation-text-box__body">
      When you visit SOCOE, our company servers will automatically record
      information that your browser sends whenever you visit a website. This
      data may include:
    </p>

    <ul class="documentation-text-box__body">
      <li>Your computer's IP address</li>
      <li>Browser type</li>
      <li>Webpage you were visiting before you came to our website</li>
      <li>The pages within SOCOE that you visit</li>
      <li>
        The time spent on those pages, items and information searched for on our
        site, access times and dates, and other statistics
      </li>
    </ul>
    <p class="documentation-text-box__body">
      This information is collected for analysis and evaluation in order to help
      us improve our website and the services and products we provide. This data
      will not be used in association with any other personal information.
    </p>
  </div>

  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">Changes To The Privacy Policy</h5>
    <p class="documentation-text-box__body">
      SOCOE reserves the right to modify and change the Privacy Policy at any
      time. Any changes to this policy will be published on our website. You
      should check this Policy each time you access our website so as to be
      aware of the most recent applicable version of the Policy.
    </p>
  </div>

  <div class="documentation-text-box">
    <h5 class="documentation-text-box__title">Complaints About Breaches Of Privacy</h5>
    <p class="documentation-text-box__body">
      If you are not satisfied with the way in which we handle your enquiry or
      complaint, please don't hesitate to contact Customer Service.
    </p>
  </div>
</div>
