<div class="row" [formGroup]="form">

  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" id="fullName" name="name" [class.has-value]="form.get('name').value" formControlName="name">
      <label for="fullName">full name of receiver*</label>
      <div *ngIf="form.get('name').hasError('required') && form.get('name').touched"
           class="md-input-msg text-danger">full name is required
      </div>
      <div *ngIf="form.get('name').hasError('server') && form.get('name').touched"
           class="md-input-msg text-danger">{{form.get('name').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" id="phone" name="phone" [class.has-value]="form.get('phone').value" formControlName="phone">
      <label for="phone">phone number*</label>
      <div *ngIf="form.get('phone').hasError('required') && form.get('phone').touched"
           class="md-input-msg text-danger">phone number is required
      </div>
      <div *ngIf="form.get('phone').hasError('server') && form.get('phone').touched"
           class="md-input-msg text-danger">{{form.get('phone').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" id="address_1" [class.has-value]="form.get('address_1').value" name="address_1" formControlName="address_1">
      <label for="address_1">address 1*</label>
      <div *ngIf="form.get('address_1').hasError('required') && form.get('address_1').touched"
           class="md-input-msg text-danger">address is required
      </div>
      <div *ngIf="form.get('address_1').hasError('server') && form.get('address_1').touched"
           class="md-input-msg text-danger">{{form.get('address_1').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" id="address_2" [class.has-value]="form.get('address_2').value" name="address_2" formControlName="address_2">
      <label for="address_2">address 2</label>
      <div *ngIf="form.get('address_2').hasError('server') && form.get('address_2').touched"
           class="md-input-msg text-danger">{{form.get('address_2').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <ng-select [items]="countries$ | async" bindLabel="name" bindValue="id"
                 id="country"
                 [clearOnBackspace]="true" [clearable]="false"
                 formControlName="country_id"
                 class="md-input"
                 [class.ng-select--has-value]="form.get('country_id').value">
      </ng-select>
      <label for="country">country*</label>
      <div *ngIf="form.get('country_id').hasError('required') && form.get('country_id').touched"
           class="md-input-msg text-danger">country is required
      </div>
      <div *ngIf="form.get('country_id').hasError('server') && form.get('country_id').touched"
           class="md-input-msg text-danger">{{form.get('country_id').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="form.get('city').value" id="city" name="city"
             formControlName="city">
      <label for="city">city*</label>
      <div *ngIf="form.get('city').hasError('required') && form.get('city').touched"
           class="md-input-msg text-danger">city is required
      </div>
      <div *ngIf="form.get('city').hasError('server') && form.get('city').touched"
           class="md-input-msg text-danger">{{form.get('city').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <ng-select bindValue="name" [items]="states$ | async" id="state" bindLabel="name"
                 [clearOnBackspace]="true" [clearable]="false"
                 formControlName="state"
                 placeholder=""
                 class="md-input" [class.ng-select--has-value]="form.get('state').value">
      </ng-select>
      <label for="state">region/state</label>
      <div *ngIf="form.get('state').hasError('required') && form.get('state').touched"
           class="md-input-msg text-danger">region or state is required
      </div>
      <div *ngIf="form.get('state').hasError('server') && form.get('state').touched"
           class="md-input-msg text-danger">{{form.get('state').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6 prev-block-button p-b m-b">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="form.get('postcode').value" id="postcode"
             name="postcode" formControlName="postcode">
      <label for="postcode">postcode*</label>
      <div *ngIf="form.get('postcode').hasError('required') && form.get('postcode').touched"
           class="md-input-msg text-danger">postcode is required
      </div>
      <div *ngIf="form.get('postcode').hasError('server') && form.get('postcode').touched"
           class="md-input-msg text-danger">{{form.get('postcode').getError('server')}}
      </div>
    </div>
  </div>
</div>
