<div class="related-products-widget">
    <div class="container">
        <ng-container *ngIf="relatedProducts$ | async as relatedProducts;else loading">
            <div class="text-center m-b-sm">
                <h4 class="related-products-widget__title _400">RELATED PRODUCTS</h4>
            </div>
            <div class="products-grid">
                <div class="products-grid__item" *ngFor="let p of relatedProducts">
                    <app-product-card [product]="p" class=""></app-product-card>
                </div>
            </div>
        </ng-container>

    </div>
</div>

<ng-template #loading>
    <app-loading-placeholder></app-loading-placeholder>
</ng-template>