<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <span class="title-bar__breadcrumb__item">Purchases</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Purchases</div>
</div>
<div class="user-orders" [class.loading]="!queryCall?.closed">
  <div class="container py-5 px-lg-0">
    <div class="row page_heading">
      <div class="page__header col-md-9 mr-auto text-uppercase">
        <ng-container *ngIf="totalCount == 0; else count">NO ORDERS YET</ng-container>
        <ng-template #count>{{totalCount}} ORDER{{totalCount == 1 ? '' : 'S'}}</ng-template>
      </div>
      <div class="col-md-3 user-orders__sort-options">
        <div class="pull-right" ngbDropdown placement="bottom-right">
          <span ngbDropdownToggle class="sort-toggle-btn">{{sortParamsDescription.get(sort)}}</span>
          <div ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let k of sortParamKeys" (click)="handleSort(k)">
              {{sortParamsDescription.get(k)}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="user-orders__items" [class.loading]="!queryCall?.closed" >
      <div class="user-orders__line user-orders__line--head" [hidden]="queryCall?.closed && totalCount == 0">

        <div class="user-orders__line__number pointer">
          Order
        </div>

        <div class="user-orders__line__time pointer">
          Purchased
        </div>

        <div class="user-orders__line__items_count pointer">
          Items
        </div>

        <div class="user-orders__line__ordered_quantity pointer">
          Quantity Ordered

        </div>

        <div class="user-orders__line__shipped_quantity pointer">
          Quantity to ship
        </div>

        <!--<div class="user-orders__line__sold_out_quantity ">
          Sold out
        </div>-->

        <div class="user-orders__line__amount pointer">
          Order amount
        </div>

        <div class="user-orders__line__toggle">
        </div>

        <div class="user-orders__line__link">
        </div>
      </div>

      <ng-container
        *ngFor="let order of orders ">
        <div class="user-orders__line" (click)="order.collapsed = !order.collapsed">
          <div class="user-orders__line__number">
            <app-order-status-icon [order]="order"></app-order-status-icon>
            <a>{{order.number}}</a>
          </div>
          <div class="user-orders__line__time">{{order.paid_at | date:'d MMM yyyy'}}</div>

          <div class="user-orders__line__items_count">
            {{order.items_count}}
          </div>

          <div class="user-orders__line__ordered_quantity">
            {{order.ordered_quantity}}
          </div>

          <div class="user-orders__line__shipped_quantity">
            {{order.shipped_quantity}}
          </div>

          <!--<div class="user-orders__line__sold_out_quantity">
          </div>-->

          <div class="user-orders__line__amount">RM {{order.total | number:'1.2-2'}}</div>

          <div class="user-orders__line__toggle">
            <div class="collapse-toggle "
                 [ngClass]="order.collapsed? 'collapse-toggle--open' : 'collapse-toggle--closed'"></div>
          </div>

          <div class="user-orders__line__link">
            <a routerLink="{{'/orders/' + order.number}}" class="btn">VIEW</a>
          </div>
        </div>
        <div class="order-details__items" [ngbCollapse]="!order.collapsed">
          <div class="products-grid">
            <div class="products-grid__item" *ngFor="let orderItem of order.orderProducts">
              <app-product-card [product]="orderItem.product">
              </app-product-card>
              <div class="order-details__items__item__quantity">
                RM {{orderItem.price | number: '1.2-2'}}
                x {{orderItem.shipped_at ? orderItem.shipped_quantity : orderItem.quantity}}
              </div>
              <div class="order-details__items__item__shipped-date">
                {{orderItem.shipped_at ? 'shipped ' + (orderItem.shipped_at | date:'d MMM yyyy') : 'not shipped yet'}}
              </div>
            </div>
          </div>
          <div><a [routerLink]="'/orders/' + order.number" class="order-details__items__link">FULL DETAILS</a></div>
          <div><a (click)="order.collapsed = false"><img class="order-details__items__toggle"
                                                         src="assets/images/up-arrow.png"></a></div>
        </div>
      </ng-container>
    </div>

    <div class="text-center p-y" *ngIf="!hasError && showLoadMoreButton">
      <a class="p-x-lg p-y-sm" (click)="getNextPage()">
        <img class="w-32 v-m" src="/assets/images/down-arrow.png">
      </a>
    </div>
    <app-loading-placeholder [data]="queryCall?.closed" [error]="hasError"></app-loading-placeholder>
  </div>
</div>
