
.user-orders {

  .page_heading {
    margin-bottom: 62px;

    .page__header {
      padding-left: 12px;
      color: #888;
    }
  }

  &__sort-options {
    color: #888;
  }

  &__items {
    overflow: auto;
  }

  &__line {
    display: grid;
    width: 100%;
    min-width: 1000px;
    grid-template-columns: 165px 110px 60px 85px 85px /*75px*/
    145px 30px 90px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;

    &--head {
      text-transform: uppercase;
      font-weight: 500;
      line-height: 19px;
      font-size: 16px;
      letter-spacing: 1px;

      .user-orders__line__number {
        padding-left: 40px;
      }
    }

    &__number {
      text-align: left;
    }

    &__amount {
      text-align: right;
    }


    &__link {
      .btn {
        width: 80px;
        background: white;
        border: 1px solid #4A4A4A;
        color: #4A4A4A;
        font-size: 0.6875rem;
        height: 18px;
        line-height: 0.3125rem;
        border-radius: 0;
      }
    }
  }


}

app-order-status-icon {
  padding-right: 20px;
}

.order-details__items {

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 18px;
  padding-top: 16px;
}
