
.search {
  position: relative;
}

.search__inner {
  width: 100%;
  background: #f0f0f0;
}

.search__inner--up {
  background: #fff;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__inner--down {
  border-top: 1px solid #444;
  min-height: calc(100vh - 396px);
}


.products-grid {
  margin-top: 20px;
}

.btn--search-close {
  font-size: 2em;
  position: absolute;
  z-index: 100;
  top: 2px;
  right: 12px;
  display: none;
}

.btn--search-close {
  display: block;
}

.search__form {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}

.search__input {
  font-size: 1.75rem;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 3px 0;
  border: 0;
  color: #000;
  border-bottom: 1px solid #000;
  border-radius: 0;

  &--has-value {
    padding-left: 15px;
  }
}

.search__input::-webkit-input-placeholder {

  /* WebKit, Blink, Edge */
  color: #888;
  padding-left: 15px;
}

.search__input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888;
  padding-left: 15px;
}

.search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888;
  padding-left: 15px;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search__input::-ms-clear {
  display: none;
}

.search__info {
  font-size: 0.81rem;
  font-weight: normal;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
  color: #888;
}

/* Search button */
.btn--search {
  transition: opacity 0s;
}

/* Close button */
.btn--search-close {


  img {
    width: 24px;
    height: 24px;
  }

  &:hover, &:focus {
    box-shadow: none;
  }
}



