<div class="search">
  <button id="btn-search-close" (click)="closed.emit()" class="btn btn--search-close" aria-label="Close search form">
    <img src="assets/images/icon-times.svg" width="24px">
  </button>
  <div class="search__inner search__inner--up">
    <form class="search__form" (submit)="search()" role="search">
      <input class="search__input" [(ngModel)]="searchTerm" name="searchTerm" type="search" placeholder="Search..."
             #searchInput
             autocomplete="off"
             [class.search__input--has-value]="searchTerm"
             autofocus
             ngbAutofocus
             autocorrect="off"
             autocapitalize="off" spellcheck="false">
      <span class="search__info">hit ENTER to search or ESC to close</span>
    </form>
  </div>
  <div class="search__inner search__inner--down">
    <div class="products-widget popular-products-widget">
      <div class="container px-0">
        <ng-container *ngIf="popularProducts$ | async as popularProducts;else loading">
          <div class="text-center">
            <h4 class="products-widget__title">Popular right now</h4>
            <div><a routerLink="/listing" (click)="closed.emit()" class="products-widget__link">more > </a>
            </div>
          </div>
          <div class="products-grid">
            <div class="products-grid__item" (click)="closed.emit()" *ngFor="let p of popularProducts">
              <app-product-card [product]="p" class=""></app-product-card>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loading-placeholder></app-loading-placeholder>
  </ng-template>

</div>
