
<button class="btn btn-xs m-a-0 text-left grey-600 rounded text-white m-r-xs" *ngFor="let f of filters; let i = index"
        (click)="removeFilter.emit({filter: f, index: i})">
  <span class="pull-right text-muted  m-l"></span><span>{{f.name}}</span>
</button>
