<div class="dropdown-divider"></div>
<!--<div routerLinkActive="dropdown-item&#45;&#45;active" class="dropdown-item"><a href="#!">Dashboard</a></div>-->
<div routerLinkActive="dropdown-item--active" class="dropdown-item"><a routerLink="/seller/product">Products</a></div>
<div routerLinkActive="dropdown-item--active" class="dropdown-item"><a routerLink="/seller/order">Orders</a></div>

<!--<div routerLinkActive="dropdown-item&#45;&#45;active" class="dropdown-item"><a href="#">Customers</a></div>-->
<div routerLinkActive="dropdown-item--active" class="dropdown-item"><a routerLink="/seller/report">Reports</a></div>
<div routerLinkActive="dropdown-item--active" class="dropdown-item"><a routerLink="/settings/settings" href="#">Settings</a>
</div>
<div class="dropdown-item dropdown-item--special"><a routerLink="/home">View store</a>
</div>
<div routerLinkActive="dropdown-item--active " class="dropdown-item dropdown-item--no-transform">
  <a target="_blank"
     [href]="communityUrl">eWanita</a>
</div>
