@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


.nav {
  font-size: 0.75rem;
}


.dropdown-item-account {
  display: flex;

  &__img {
    width: 40px;
    padding: 0 16px 0 0;
  }

  &__name {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 190px;
    overflow: hidden;
  }
}

.account-menu__icon {
  width: 40px;
  padding: 0 15px 0 8px;
}

.app-bar .app-header--sign-in-btn {
  height: 24px;
  line-height: 0.75rem;
}

.app-name {
  font-weight: bold;
  letter-spacing: 0.75rem;
  font-size: 1.5rem;

  /*position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-shrink: 0;
  margin: 0 auto;*/
}

.app-logo {
  height: 32px;
}

.shopping-cart-dropdown {
  margin-left: 49px;
}

@include media-breakpoint-down(sm) {
  .app-name {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
  }

}

@media (max-width: 480px) {
  .app-logo {
    height: 25px;
  }
}
@media (max-width: 340px) {
  .app-logo {
    height: 20px;
  }
}


.cart-label {
  height: 25px;
  padding-top: 7px;
  width: 26px;
}

.favorite-flag {
  width: 26px;
  height: 32px;
  padding-top: 6px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -2px;
}

.favorite-flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}


.search-btn {
  width: 38px;
  text-align: center;
  a {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  img {
    width: 14px;
  }
}
