<div class="navbar navbar-expand navbar-light  justify-content-between px-0 no-gutters app-bar">
  <ul class="navbar-nav">
    <!-- <li class="nav-item d-none d-md-block d-lg-block d-xl-block b-r">
      <a class="nav-link text-xs px-3 no-border">EN</a>
    </li>
    <li class="nav-item d-none d-md-block d-lg-block d-xl-block b-r">
      <a class="nav-link text-xs px-3 no-border">MYR</a>
    </li> -->
    <li class="nav-item d-lg-none d-md-none no-caret-dropdown dropdown app-bar__mobile-menu" ngbDropdown
        placement="bottom-left"
        #mbDp="ngbDropdown"
        autoClose="outside">
      <a class="nav-link" ngbDropdownToggle>
        <i class="navbar-toggler-icon"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu box-shadow-z4 w-xl white no-radius">
        <div class="app-bar__mobile-menu__options">
          <div class="dropdown-header">
            <strong class="text-md text-black">OPTIONS</strong>
            <img class="w-16 pull-right pointer" (click)="mbDp.close()" src="/assets/images/cancel-light.png">
          </div>
          <!-- <div class="dropdown-divider"></div> -->
          <!-- <div class="dropdown-item-text  dropdown no-caret-dropdown" ngbDropdown>
              <div ngbDropdownToggle class="dropdown-toggle text-muted">EN <img class="w-16 pull-right"
                                                                                src="/assets/images/down-arrow.png">
              </div>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item">EN</a>
                <a class="dropdown-item">MY</a>
              </div>
            </div>
            <div class="dropdown-item-text  dropdown no-caret-dropdown" ngbDropdown>
              <div ngbDropdownToggle class="dropdown-toggle text-muted">MYR <img class="w-16 pull-right"
                                                                                 src="/assets/images/down-arrow.png">
              </div>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item">MYR</a>
                <a class="dropdown-item">USD</a>
              </div>
            </div> -->
          <router-outlet name="mobile-menu"></router-outlet>
        </div>
      </div>
    </li>
    <li class="nav-item search-btn">
      <a class="nav-link text-xs no-border" (click)="openSearch()"><img alt="search" src="assets/images/search.svg"></a>
    </li>
  </ul>
  <div class="nav-text text-center app-name">
    <a routerLink="/home">
      <!--JWKS <span class="d-none d-md-inline-block">MARKETPLACE</span>-->
      <img [src]="logoUrl" alt="epreneur" class="app-logo">
    </a>
  </div>
  <div class="flex-md-shrink-0 ">
    <ul class="nav navbar-nav auth-links ">


      <li class="nav-item no-caret-dropdown b-l " *ngIf="user">
        <a class="nav-link text-xs no-border" routerLink="/favorites">
          <span class="d-none  d-lg-inline-block d-xl-inline-block mr-1">FAVOURITES</span> <strong
          class="label no-radius text-xs favorite-flag">{{favoritesCount$ | async}}</strong>
        </a>
      </li>
      <li class="nav-item dropdown  no-caret-dropdown b-l " ngbDropdown
          placement="bottom-right">
        <a class="nav-link text-xs no-border" ngbDropdownToggle>
          <span class="d-none  d-lg-inline-block d-xl-inline-block mr-1">MY CART</span> <strong
          class="label primary-red no-radius cart-label text-xs">{{cartItemCount}}</strong>
        </a>
        <div ngbDropdownMenu
             class="dropdown-menu shopping-cart-dropdown dropdown-menu-right box-shadow text-color w-xxl p-0 white mt-0 no-radius">
          <app-mini-shopping-cart></app-mini-shopping-cart>
        </div>
      </li>
      <li ngbDropdown  #userDp="ngbDropdown"  *ngIf="user;else guestMenu" autoClose="outside" class="nav-item dropdown no-caret-dropdown account-menu"
          placement="bottom-right">
        <a href="javascript:void('toggle dropdown')" class="nav-link nav-link--avatar" ngbDropdownToggle>
          <span class="avatar w-32 pr-1" [ngStyle]="{'backgroundImage':'url(\'' + user.public_picture + '\')'}"></span>
          <span
            class="d-none profile-name  d-lg-inline-block d-xl-inline-block">{{user.public_identity}}</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu shadow dropdown-menu-right w-xl white mt-0 pb-4 no-radius" >
          <ng-container *ngIf="profiles$ | async as profiles">
            <ng-container *ngIf="profiles.length">
              <span class="dropdown-item-text text-sm pb-2">CHANGE PROFILE</span>
              <a class="dropdown-item dropdown-item-account" [routerLink]="'/auth/switch-account/' + profile.profile_id"
                 *ngFor="let profile of profiles">
                <div class="dropdown-item-account__avatar">
                  <img class="dropdown-item-account__img" [src]="profile.public_picture" alt="...">
                </div>
                <div class="dropdown-item-account__name">
                  {{profile.public_identity}}
                </div>
              </a>
              <div class="dropdown-divider"></div>
            </ng-container>
          </ng-container>
          <div (click)="userDp.close()">
          <a class="dropdown-item" routerLink="/orders">
            <img src="assets/images/shopping-bag.svg" alt="purchases" class="account-menu__icon">
            Purchases
          </a>
          <a class="dropdown-item" routerLink="/seller/product" *ngIf="isSeller">
            <img src="assets/images/price-tag.svg" alt="sell" class="account-menu__icon"> Sell
          </a>

          <a class="dropdown-item" routerLink="/settings/profile">
            <img src="assets/images/settings-icon.svg" alt="settings" class="account-menu__icon">
            Settings</a>
          <a class="dropdown-item" href="javascript:void('logout')" (click)="logoutUser()">
            <img src="assets/images/power.svg" alt="logout" class="account-menu__icon">
            Logout</a>
          </div>
        </div>
      </li>
      <ng-template #guestMenu>
        <li class="nav-item d-none d-md-block" *ngIf="registerUrl">
          <a class="nav-link" [href]="registerUrl">
            <span class=" text-primary-red _500">REGISTER</span>
          </a>
        </li>
        <li class="nav-item d-none d-md-block" *ngIf="loginUrl">
          <div class="nav-link" >
            <a class="btn text-xs no-radius app-header--sign-in-btn btn-outline btn--outline-red _500" [href]="loginUrl">
              SIGN IN
            </a>
          </div>
        </li>
        <li
          class="nav-item no-caret-dropdown d-md-none d-lg-none d-xl-none dropdown app-bar__guest-mobile-menu"
          ngbDropdown placement="bottom-right"
          autoClose="outside">
          <a class="nav-link" ngbDropdownToggle>
            <img src="/assets/images/user-icon.jpg" class="w-24">
          </a>
          <div ngbDropdownMenu class="dropdown-menu px-0 dropdown-menu-right mt-0 box-shadow-z4 w-xl white no-radius">
            <div class="dropdown-header text-center pb-0">
              <strong class="text-black">ACCOUNT</strong>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item-text text-center">
              <div class="mt-4">
                <div class=" text-muted ">Already have an account?</div>
                <a class="btn primary-red text-white mt-1 no-radius " [href]="loginUrl">SIGN IN </a>
              </div>
              <div class="my-5">
                <div class=" text-muted">Register your new account</div>
                <a class="btn grey-300  mt-1 no-radius " [href]="registerUrl">REGISTER</a>
              </div>
            </div>

          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
