//make sure this matches bootstrap breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$xxs: 420px;

$dangerRed: #dc4343;
$warningYellow: #ffd800;
$successGreen: #17d557;


$alternateTeal: #36A1C2; //refactor to variable.scss
