
.order-listing__items {
  overflow: auto;

  &__row {
    display: grid;
    grid-template-columns: 135px 95px 98px 145px 120px minmax(100px, 140px) minmax(100px, 140px) 120px;
    justify-content: space-between;
    grid-column-gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #ccc;
    min-width: 1053px;

    &--head {
      border-top: 0;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}
