
.modal-body {
  padding-left: 4rem;
  padding-right: 4rem;
}


.product-image {
  margin: 1rem 0.5rem;

  img {
    max-width: 200px;
  }
}

.product-info {
  width: 280px;
  max-width: 100%;
  margin: 1rem auto 1rem 0.75rem;
}


.product-name {
  line-height: 1.1875;
  font-size: 1rem;
  color: #000;
}

.product-description {
  color: #888;
}


.product-price {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.product-old-price {
  color: #888;

}

.product-old-price__amount {
  text-decoration: line-through;
}

.product-action-btn {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

@media (max-width: 768px) {
  .modal-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-info {
    width: 100%;
  }
  app-quantity-input {
    width: 128px;
    display: block;
    margin: 0 auto;
  }

  .product-name, .product-price, .product-old-price {
    text-align: center;
  }
}
