<div class="modal-header border-bottom-0">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
    <img src="assets/images/cancel-light.png" width="16" alt="close">
  </button>
</div>
<div class="modal-body pt-1">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="product-image">
      <a routerLink="/product/{{product.link}}/{{product.id}}" (click)="activeModal.dismiss()">
        <img [src]="product.primaryImage.url" [alt]="product.name">
      </a>
    </div>
    <div class="product-info">
      <a routerLink="/product/{{product.link}}/{{product.id}}" (click)="activeModal.dismiss()">
        <div class="product-name">{{product.name}}</div>
        <div class="product-description mt-2" ngxShave [maxHeight]="64" [listenResize]="true">
          <div [innerHTML]="product.description"></div>
        </div>
      </a>
      <div class="mb-3 mt-4">
        <app-quantity-input [value]="quantity" (update)="handleQuantityUpdate($event)"></app-quantity-input>
      </div>
      <div>
        <div class="product-price">
          RM {{(product.discount_price ? product.discount_price : product.price) | number: '1.2-2'}}
        </div>
        <div class="product-old-price" *ngIf="product.discount_price">
          <span class="product-old-price__amount">RM {{product.price | number: '1.2-2'}}</span>
          ({{calcOffDiscount(product.price, product.discount_price)}}% off)
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer border-top-0 justify-content-center flex-wrap pb-4">
  <button class="btn btn--red text-uppercase font-weight-normal mt-3  product-action-btn" (click)="buyNow()">
    Buy now
  </button>
  <button class="btn btn--outline-red text-uppercase font-weight-normal product-action-btn mt-3 "
          (click)="addToCart()">
    Add to cart
  </button>
</div>
