<div class="nav-scroller menu-bar menu-bar--mobile d-md-none">
  <nav class="nav justify-content-between">
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       [queryParams]="{status:STATUS_PUBLISHED}"
       routerLink="./product">Posted for sale</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       [queryParams]="{status:STATUS_PENDING}"
       routerLink="./product">Pending</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       [queryParams]="{status:STATUS_DRAFT}"
       routerLink="./product">Draft</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       [queryParams]="{status:STATUS_WITHDRAWN}"
       routerLink="./product">Withdraws</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       [queryParams]="{is_sold:1}"
       routerLink="./product">Sold out</a>

    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active" [routerLinkActiveOptions]="{exact:true}"
       routerLink="./product">All Products</a>

    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{labelType:'special'}"
       routerLink="./product">Specials</a>
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{labelType:'clearance'}"
       routerLink="./product">Clearance</a>
  </nav>
</div>

<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left"><a href="" class="title-bar__breadcrumb__item">HOME</a>
    | <span
      class="title-bar__breadcrumb__item">Products</span></div>
  <div class="title-bar__title text-center text-sm-right col-sm-6">PRODUCTS</div>
  <div class="my-2 col-12 text-center d-md-none">
    <a class="btn btn-outline-dark " routerLink="./new">+ add product</a>
  </div>
</div>

<div class="row flex-nowrap">

  <nav class="sidenav col d-none d-md-block">
    <div class="mx-2 text-center">
      <a class="btn btn-outline-dark" routerLink="./new">+ add product</a>
    </div>
    <ul>
      <li class="sidenav__item sidenav__item--header"><span class="sidenav__text">Listings</span></li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{status:STATUS_PUBLISHED}">
          <span class="sidenav__text">Posted for sale</span>
          <span class="sidenav__label">{{statistics.posted}}</span>
        </a>
      </li>

      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{status:STATUS_PENDING}">
          <span class="sidenav__text">Pending</span>
          <span class="sidenav__label">{{statistics.pending}}</span>
        </a>
      </li>

      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{status:STATUS_DRAFT}">
          <span class="sidenav__text">Draft</span>
          <span class="sidenav__label">{{statistics.draft}}</span>
        </a>
      </li>

      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{status:STATUS_WITHDRAWN}">
          <span class="sidenav__text">Withdrawn</span>
          <span class="sidenav__label">{{statistics.withdrawn}}</span>
        </a>
      </li>


      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{is_sold:1}">
          <span class="sidenav__text">Sold out</span>
          <span class="sidenav__label">{{statistics.sold_out}}</span>
        </a>
      </li>


      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product">
          <span class="sidenav__text">All Products</span>
          <span class="sidenav__label">{{statistics.all}}</span>
        </a>
      </li>

    </ul>

    <ul class="pt-1">
      <li class="sidenav__item sidenav__item--header"><span class="sidenav__text">Promotions</span></li>

      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{labelType:'special'}">
          <span class="sidenav__text">Specials</span>
          <span class="sidenav__label">{{statistics.specials}}</span>
        </a>
      </li>

      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="/seller/product" [queryParams]="{labelType:'clearance'}">
          <span class="sidenav__text">Clearance</span>
          <span class="sidenav__label">{{statistics.clearance}}</span>
        </a>
      </li>

    </ul>

  </nav>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
