<div class="modal-dialog modal-lg ">
  <div class="modal-content">
    <div class="modal-header no-b-b">
      <button type="button" class="close pull-right" aria-label="Close"
              (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <angular-cropper
                         #angularCropper
                         [cropperOptions]="{checkCrossOrigin: true, aspectRatio:imageAspectRatio,viewMode:0}"
                         [imageUrl]="cropperImage"></angular-cropper>
      </div>
      <div class="text-right m-t-2">
        <button class="btn dark" (click)="activeModal.close(angularCropper)">ADD</button>
      </div>
    </div>
  </div>
</div>