<div id="content" class="app-content box-shadow-z0" role="main" [class.search-open]="searchOpen">
  <app-header [user]="user" (logout)="logout($event)" (searchClicked)="openSearch()" [isSeller]="isSeller" [logoUrl]="logoUrl"></app-header>
  <div id="view" class="app-body">
    <div class="container-fluid">
      <div class="menu-bar__wrapper">
        <router-outlet name='menubar'></router-outlet>
      </div>
      <div class="app-main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-search-form (closed)="closeSearch()" *ngIf="searchOpen"></app-search-form>
  </div>
  <app-footer [logoUrl]="logoUrl"></app-footer>
</div>
