<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <span class="title-bar__breadcrumb__item">Favourites</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Favourites</div>
</div>
<div class="favorites" [class.loading]="!queryCall?.closed || loading">
  <div class="container py-4">
    <div class="row page_heading">
      <div class="page__header col text-uppercase">{{totalCount}} ITEM{{totalCount == 1 ? '' : 'S'}}</div>
      <div class="col">
        <div class="pull-right" ngbDropdown placement="bottom-right">
          <span ngbDropdownToggle class="sort-toggle-btn">{{sortParamsDescription.get(sort)}}</span>
          <div ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let k of sortParamKeys" (click)="handleSort(k)">
              {{sortParamsDescription.get(k)}}
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="products-grid">
      <div class="products-grid__item" *ngFor="let item of models">
        <button class="btn remove-favorite-btn" (click)="confirmRemove(item)">x</button>
        <app-product-card [product]="item.product">
        </app-product-card>
        <div class="text-center">
          <button class="buy-button" (click)="confirmBuy(item)">BUY</button>
        </div>
      </div>
    </div>

    <div class="text-center p-y" *ngIf="!hasError && showLoadMoreButton">
      <a class="p-x-lg p-y-sm" (click)="getNextPage()">
        <img class="w-32 v-m" src="/assets/images/down-arrow.png">
      </a>
    </div>

    <app-loading-placeholder [error]="hasError" [data]="queryCall?.closed"></app-loading-placeholder>
  </div>
</div>
<ng-template #confirmRemoveModal let-modal>
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-uppercase _400">Confirm remove?</h4>
    </div>

    <div class="modal-footer  justify-content-center">
      <a class="_500 px-3 text" (click)="modal.dismiss()">
        Cancel
      </a>
      <button class="btn btn-success text-uppercase" (click)="modal.close();remove()" type="button">
        Yes
      </button>
    </div>
  </div>
</ng-template>
