.page_heading {
  max-width: 1190px;
  margin: 0 auto;
}

.sort-toggle-btn {
  color: #888;
  cursor: pointer;
}

.products-grid__item {
  position: relative;

  .remove-favorite-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: #9B9B9B;
    font-weight: 300;
    color: white;
    z-index: 2;
    padding: 0 8px;
    box-shadow: none;
    border-radius: 0;
    display: none;
  }

  &:hover .remove-favorite-btn {
    display: block;
  }

  .remove-favorite-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 1px white;
  }

}


.buy-button {
  border: 1px solid #4A4A4A;
  cursor: pointer;
  padding: 3px;
  font-size: .75rem;
  font-weight: 500;
  line-height: .875rem;
  background: white;
  width: 60px;
  height: 20px;


  &:hover {
    background: #D8D8D8;
    border-color: #D8D8D8;
  }

}

