<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <a routerLink="/cart" class="title-bar__breadcrumb__item">MY CART</a>
    | <span class="title-bar__breadcrumb__item">Checkout</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Checkout</div>
</div>
<div class="container">
  <ng-container *ngIf="product; else loading_product">
    <app-checkout-form [items]="items" [hideEditCartBtn]="true"></app-checkout-form>
  </ng-container>

</div>
<ng-template #loading_product>
  <app-loading-placeholder [data]="product"></app-loading-placeholder>
</ng-template>
