<div class="page__content">
  <h3 class="page__header page__header--uppercase">Edit individual profile</h3>

  <div class="row" [class.loading]="saving">

    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 m-t" [formGroup]="ngForm">
      <div class="row">
        <div class="col-sm-12 float-left my-4">
          <app-image-input label="add avatar" [image]="profile.public_picture" (imageSelected)="handleAvatarSelect($event)"
                           [circle]="true"></app-image-input>
        </div>

        <div class="col-sm-6">
          <div class="md-form-group float-label">
            <input type="text" class="md-input" id="first_name" [class.has-value]="ngForm.get('first_name').value"
                   name="first_name" formControlName="first_name">
            <label for="first_name">first name *</label>
            <div *ngIf="ngForm.get('first_name').hasError('required') && ngForm.get('first_name').touched"
                 class="md-input-msg text-danger">first name is required
            </div>
            <div *ngIf="ngForm.get('first_name').hasError('server') && ngForm.get('first_name').touched"
                 class="md-input-msg text-danger">{{ngForm.get('first_name').getError('server')}}
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="md-form-group float-label">
            <input type="text" class="md-input" id="last_name" [class.has-value]="ngForm.get('last_name').value"
                   name="last_name" formControlName="last_name">
            <label for="last_name">last name *</label>
            <div *ngIf="ngForm.get('last_name').hasError('required') && ngForm.get('last_name').touched"
                 class="md-input-msg text-danger">last name is required
            </div>
            <div *ngIf="ngForm.get('last_name').hasError('server') && ngForm.get('last_name').touched"
                 class="md-input-msg text-danger">{{ngForm.get('last_name').getError('server')}}
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="md-form-group float-label">
            <input type="text" class="md-input" id="email" name="email" [class.has-value]="ngForm.get('email').value"
                   formControlName="email">
            <label for="email">email *</label>
            <div
              *ngIf="(ngForm.get('email').hasError('required') || ngForm.get('email').hasError('email')) && ngForm.get('email').touched"
              class="md-input-msg text-danger">valid email required
            </div>
            <div *ngIf="ngForm.get('email').hasError('server') && ngForm.get('email').touched"
                 class="md-input-msg text-danger">{{ngForm.get('email').getError('server')}}
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="md-form-group float-label">
            <input type="text" class="md-input" id="mobile" name="mobile" [class.has-value]="ngForm.get('mobile').value"
                   formControlName="mobile">
            <label for="email">mobile no. *</label>
            <div *ngIf="ngForm.get('mobile').hasError('required') && ngForm.get('mobile').touched"
                 class="md-input-msg text-danger">mobile no. is required
            </div>
            <div *ngIf="ngForm.get('mobile').hasError('server') && ngForm.get('mobile').touched"
                 class="md-input-msg text-danger">{{ngForm.get('mobile').getError('server')}}
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="md-form-group float-label">
            <select class="md-input" [class.has-value]="ngForm.get('gender').value" id="gender"
                    name="gender" formControlName="gender">
              <option value=""></option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
            <label for="gender">gender</label>
          </div>
        </div>

      </div>

      <app-profile-address-form [ngForm]="ngForm"></app-profile-address-form>

      <div class="text-center mt-4">
        <button type="button" class="btn btn-dark no-radius btn--wide" (click)="save()">UPDATE</button>
      </div>
    </div>

  </div>
</div>
