<div class="page__content">
  <h3 class="page__header page__header--uppercase">Edit corporate profile</h3>
  <div class="row" [class.loading]="saving">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 m-t" [formGroup]="ngForm">
      <div class="my-4">
        <app-image-input label="add corporate logo" [image]="profile.public_picture"
                         (imageSelected)="handleLogoSelect($event)"
                         [circle]="false"></app-image-input>
      </div>

      <div class="md-form-group float-label">
        <input type="text" class="md-input" id="name" [class.has-value]="ngForm.get('name').value"
               name="name" formControlName="name">
        <label for="name">company name *</label>
        <div *ngIf="ngForm.get('name').hasError('required') && ngForm.get('name').touched"
             class="md-input-msg text-danger">company name is required
        </div>
        <div *ngIf="ngForm.get('name').hasError('server') && ngForm.get('name').touched"
             class="md-input-msg text-danger">{{ngForm.get('name').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <input type="text" class="md-input" id="reg_number" [class.has-value]="ngForm.get('reg_number').value"
               name="reg_number" formControlName="reg_number">
        <label for="reg_number">company registration no. *</label>
        <div *ngIf="ngForm.get('reg_number').hasError('required') && ngForm.get('reg_number').touched"
             class="md-input-msg text-danger">company registration no. is required
        </div>
        <div *ngIf="ngForm.get('reg_number').hasError('server') && ngForm.get('reg_number').touched"
             class="md-input-msg text-danger">{{ngForm.get('reg_number').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <select class="md-input" id="industry_id" [class.has-value]="ngForm.get('industry_id').value"
                name="industry_id" formControlName="industry_id">
          <option value=""></option>
          <option [value]="industry.id" *ngFor="let industry of industries$ | async">
            {{industry.name}}
          </option>
        </select>
        <label for="industry_id">industry *</label>
        <div *ngIf="ngForm.get('industry_id').hasError('required') && ngForm.get('industry_id').touched"
             class="md-input-msg text-danger">industry is required
        </div>
        <div *ngIf="ngForm.get('industry_id').hasError('server') && ngForm.get('industry_id').touched"
             class="md-input-msg text-danger">{{ngForm.get('industry_id').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <select class="md-input" id="type_id" [class.has-value]="ngForm.get('type_id').value"
                name="type_id" formControlName="type_id">
          <option value=""></option>
          <option [value]="type.id" *ngFor="let type of corporateTypes$ | async">
            {{type.name}}
          </option>
        </select>
        <label for="type_id">type *</label>
        <div *ngIf="ngForm.get('type_id').hasError('required') && ngForm.get('type_id').touched"
             class="md-input-msg text-danger">type is required
        </div>
        <div *ngIf="ngForm.get('type_id').hasError('server') && ngForm.get('type_id').touched"
             class="md-input-msg text-danger">{{ngForm.get('type_id').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <input type="text" class="md-input" id="phone" name="phone" [class.has-value]="ngForm.get('phone').value"
               formControlName="phone">
        <label for="phone">telephone </label>
        <div *ngIf="ngForm.get('phone').hasError('server') && ngForm.get('phone').touched"
             class="md-input-msg text-danger">{{ngForm.get('phone').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <input type="text" class="md-input" id="fax_number" name="fax_number"
               [class.has-value]="ngForm.get('fax_number').value"
               formControlName="fax_number">
        <label for="fax_number">fax </label>
        <div *ngIf="ngForm.get('fax_number').hasError('server') && ngForm.get('fax_number').touched"
             class="md-input-msg text-danger">{{ngForm.get('fax_number').getError('server')}}
        </div>
      </div>

      <div class="md-form-group float-label">
        <input type="text" class="md-input" id="contact_email" name="contact_email"
               [class.has-value]="ngForm.get('contact_email').value"
               formControlName="contact_email">
        <label for="contact_email">email address</label>
        <div *ngIf="(ngForm.get('contact_email').hasError('contact_email')) && ngForm.get('contact_email').touched"
             class="md-input-msg text-danger">please enter valid email
        </div>
        <div *ngIf="ngForm.get('contact_email').hasError('server') && ngForm.get('contact_email').touched"
             class="md-input-msg text-danger">{{ngForm.get('contact_email').getError('server')}}
        </div>
      </div>


      <h4 class="page__header">Address</h4>

      <app-profile-address-form [ngForm]="ngForm"></app-profile-address-form>

      <div class="text-center mt-4">
        <button type="button" class="btn btn-dark no-radius btn--wide" (click)="save()">UPDATE</button>
      </div>
    </div>
  </div>
</div>
