<div class="product-details">
  <div class="product-details__container">
    <div class="product-details__seller--mobile" *ngIf="sellerInfo">
      <img class="product-details__seller--mobile__image" [src]="sellerInfo.public_picture">
      <div class="product-details__seller--mobile__description">
        <div class="product-details__seller--mobile__sold-by">
          Sold by
        </div>
        <div class="product-details__seller--mobile__name">
          {{sellerInfo.public_identity}}
        </div>
      </div>
    </div>
    <div class="product-details__images">
      <div class="product-details__main-image">
        <div class="box-aspect-1">
          <div class="box-aspect-content">
            <img *ngIf="primaryImage?.url; else primary_image_placeholder" [alt]="product.name"
                 defaultImage="/assets/images/loader-black.svg"
                 errorImage="/assets/images/failed-image.svg"
                 [lazyLoad]="primaryImage.variants ? primaryImage.variants['512'] : primaryImage.url">
          </div>
        </div>
        <ng-template #primary_image_placeholder>
          <div class="box-aspect-1">
            <div class="product-details__main-image__placeholder box-aspect-content"
                 defaultImage="/assets/images/loader-black.svg"
                 errorImage="/assets/images/failed-image.svg"
                 [lazyLoad]="primaryImage.url ? primaryImage.url : 'assets/images/product-default.jpg'"></div>
          </div>
        </ng-template>
      </div>
      <div class="product-details__image-thumbnails-wrapper">
        <div class="product-details__image-thumbnails">
          <ng-container *ngFor="let image of product.images; let i = index">
            <div *ngIf="image.url" (click)="setPrimaryImage(i)" class="product-details__image-thumbnail">
              <img *ngIf="image.variants; else image_thumbnail_placeholder" [alt]="product.name"
                   defaultImage="/assets/images/loader-black.svg" errorImage="/assets/images/failed-image.svg" [lazyLoad]="image.variants['96']"/>
              <ng-template #image_thumbnail_placeholder>
                <span class="box-aspect-1">
                  <span class="product-details__image-thumbnail-placeholder box-aspect-content" errorImage="/assets/images/failed-image.svg" [lazyLoad]="image.url"
                        defaultImage="/assets/images/loader-black.svg"></span>
                </span>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="product-details__description">
      <div class="product-details__seller" *ngIf="sellerInfo">
        {{sellerInfo.public_identity}}
      </div>
      <h3 class="product-details__name _400">{{product.name}} </h3>

      <div class="product-details__model">
        <span class="product-details__model__label">Model</span>
        {{product.model}}
      </div>

      <div class="product-details__prices">
        <div class="product-details__current-price" *ngIf="product.price">
          RM {{(product.discount_price ? product.discount_price : product.price) | number:'1.2-2'}}
          <span class="product-details__unit">{{product.unit_of_measure ? '/' + product.unit_of_measure : ''}}</span>
        </div>
        <div class="product-details__old-price" *ngIf="product.discount_price">
          <span class="product-details__old-price__number">RM {{product.price | number:'1.2-2'}}</span>
          <span>({{calcOffDiscount(product.price, product.discount_price)}}
            % off)</span>
        </div>

      </div>

      <div class="product-details__stock-status product-details__stock-status--out" *ngIf="product.quantity == 0">Out
        of stock
      </div>

      <div class="product-details__tags">
        <ng-container *ngIf="showItemActions; else tagList">
          <ng-container *ngFor="let tag of product.tags">
            <a routerLink="/listing" [queryParams]="{tag: tag}" class="product-tag">#{{tag}}</a>&nbsp;
          </ng-container>
        </ng-container>
        <ng-template #tagList>
          <ng-container *ngFor="let tag of product.tags">
            <span class="product-tag">#{{tag}}</span>&nbsp;
          </ng-container>
        </ng-template>
      </div>

      <div *ngIf="showItemActions && STATUS_ACTIVE == product.status">
        <div class="product-details__quantity-input">
          <div class="product-details__quantity-input__label">Quantity</div>
          <app-quantity-input [value]="quantity" (update)="updateQuantity($event)"></app-quantity-input>
        </div>
        <div class="product-details__buttons">
          <div>
            <button class="btn btn--red text-uppercase font-weight-normal mt-3 product-action-btn" (click)="buyNow()">
              Buy now
            </button>
          </div>
          <div>
            <app-feedback-button (onClick)="addToCart()"
                                 [state]="addCartState"
                                 [disabled]="addCartDisabled"
                                 defaultText="ADD TO CART"
                                 successText="ADDED"
                                 waitingText="ADDING"
                                 btnClasses="btn--outline-red add-to-cart text-uppercase font-weight-normal product-action-btn mt-3">
            </app-feedback-button>
          </div>
          <div *ngIf="loggedIn">
            <button class="btn add-favorite-btn product-action-btn" (click)="addToFavorite()"
                    [disabled]="addingFavorite">
              <img src="assets/images/favorite-icon.png"> {{addedFavorite ? 'FAVOURITED' : 'FAVOURITE THIS'}} </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
