$image-preloader: "img:not(.ng-failed-lazyloaded):not(.ng-lazyloaded)";
$failed-image: "img.ng-failed-lazyloaded";

.product-details {
  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  &__images {
    margin-right: 36px;
    margin-top: 36px;
    max-width: 100%;
  }

  &__main-image {
    margin-bottom: 16px;
    width: 380px;
    max-width: 100%;
    text-align: center;

    #{$image-preloader}, #{$failed-image} {
      top: calc(50% - 19px);
      left: calc(50% - 19px);
      position: absolute;
    }
  }

  #{$failed-image} {
    width: 36px;
    height: 36px;
  }

  &__main-image__placeholder.ng-lazyloaded,
  &__image-thumbnail-placeholder.ng-lazyloaded {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__main-image__placeholder {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image-thumbnails-wrapper {
    height: 60px;
    overflow-y: hidden;
    z-index: 2;
    position: relative;
    max-width: 100%;
  }

  &__image-thumbnails {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
  }

  &__image-thumbnail {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    #{$image-preloader} .#{$failed-image} {
      position: relative;
      top: 11px;
    }
  }

  &__description {
    margin-left: 36px;
    margin-top: 36px;
    max-width: 400px;
  }

  &__seller {
    color: #888;


  }

  &__seller--mobile {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    display: none;

    &__image {
      height: 46px;
      float: left;
      margin-right: 12px;
    }

    &__sold-by {
      font-size: 0.75rem;
    }

    &__name {
      font-weight: 500;
    }
  }

  &__name {
    font-size: 1.375rem;
  }

  &__model {
    margin-bottom: 8px;
    margin-top: 8px;

    &__label {
      color: #666;
      font-size: 0.8125rem;
    }
  }

  &__current-price {
    font-weight: 500;
    font-size: 1.125rem;
  }

  &__unit {
    font-weight: normal;
    font-size: 0.75rem;
    color: #888;
  }

  &__old-price {
    font-weight: 300;
    font-size: 0.75rem;
    color: #888;
  }

  &__old-price__number {
    text-decoration: line-through;
  }

  &__stock-status {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;

    &--out {
      color: #d0021b;
    }
  }

  &__tags {
    margin-top: 16px;
    margin-bottom: 18px;
  }

  &__quantity-input {
    margin-bottom: 36px;
  }

  &__quantity-input__label {
    color: #888;
    margin-bottom: 8px;
  }

  .add-favorite-btn {
    margin-top: 16px;
  }


  /deep/ {
    .product-action-btn {
      margin-left: 0;
      margin-right: 0;
    }

    .btn.add-to-cart {
      &.waiting, &.success {
        background: #d0021b;
        color: white;
      }

      &:disabled {
        opacity: 1;
      }

      .btn-state-icon {
        &.btn-state-icon--waiting, &.btn-state-icon--success {
          width: 16px;
          height: 16px;
          display: inline-block;
          background-size: cover;
          position: relative;
          top: 3px;
          left: 10px;
        }

        &.btn-state-icon--waiting {
          background-image: url('/assets/images/loader-white.svg');
        }

        &.btn-state-icon--success {
          background-image: url('/assets/images/checked.png');
        }
      }
    }
  }


}


@media (max-width: 768px) {
  .product-details {
    &__main-image {
      width: 305px;
    }

    &__images {
      margin-right: 15px;
    }

    &__description {
      margin-left: 15px;
    }

    &__image-thumbnails-wrapper {
      height: 45px;
    }

    &__image-thumbnail {
      width: 45px;
      height: 45px;
      min-width: 45px;

      #{$image-preloader}, #{$failed-image} {
        top: 0;
      }

    }
  }
}

@media (max-width: 480px) {
  .product-details {
    &__container {
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__seller--mobile {
      display: block;
    }

    &__description {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;
      margin-left: 0;
      max-width: 100%;
    }

    &__images {
      text-align: center;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-top: 0;
      margin-right: 0;
    }

    &__main-image {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &__image-thumbnails-wrapper {
      margin-left: auto;
      margin-right: auto;
      height: 60px;
    }

    &__image-thumbnail {
      width: 60px;
      height: 60px;
      min-width: 60px;

    }

    &__seller {
      display: none;
    }

    &__name {
      font-size: 1.125rem;
    }

    &__model, &__model__label {
      font-size: 0.75rem;
      margin-top: 0;
    }

    &__prices {
      margin-top: 16px;
    }

    &__current-price {
      font-size: 1.0625rem;
    }

  }
}

@media (max-width: 360px) {
  .product-details {

    &__image-thumbnails-wrapper {
      height: 45px;
    }

    &__image-thumbnail {
      width: 45px;
      height: 45px;
      min-width: 45px;

      #{$image-preloader}, #{$failed-image} {
        top: 0;
      }
    }

    /deep/ {
      .product-action-btn {
        width: 160px;
      }
    }
  }
}
