.order-info-footer {
  margin-top: 35px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #333;

  &__heading {
    color: #888;
    font-size: .6875rem;
    line-height: 0.45rem;
    margin-top: 10px;
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__address {
    line-height: 1rem;
    margin-top: 2px;
  }


  &__column {
    width: 220px;
    margin-top: 20px;
  }
}
