<div class="order-info-footer">
  <div class="order-info-footer__row">
    <div class="order-info-footer__column">
      <div class="order-info-footer__heading">
        Order Subtotal
      </div>
      <div>
        RM {{order.total|number: '1.2-2'}}
      </div>
      <div class="order-info-footer__heading">
        Sales Tax
      </div>
      <div>
        RM 0.00
      </div>
      <div class="order-info-footer__heading">
        Order total
      </div>
      <div class="_500">
        RM {{order.total|number: '1.2-2'}}
      </div>
    </div>
    <div class="order-info-footer__column">
      <div class="order-info-footer__heading">
        Ship to
      </div>
      <div class="order-info-footer__address">
        {{order.shipping_first_name}} {{order.shipping_last_name}}<br>
        {{order.shipping_address_2}} {{order.shipping_address_1}}<br>
        {{order.shipping_city}} {{order.shipping_state}}<br>
        <div>
          {{shippingCountry$ | async}}
        </div>
      </div>
    </div>
    <div class="order-info-footer__column" *ngIf="order.status == STATUS_COMPLETE">
      <div class="order-info-footer__heading">
        Shipper / Consignment No.
      </div>
      <ng-container *ngFor="let subOrder of order.subOrders">
        <div *ngIf="subOrder.shipping_service_id">
          {{shippingServices.get(subOrder.shipping_service_id)}} {{subOrder.consignment_number}}
        </div>
      </ng-container>
    </div>
    <div class="order-info-footer__column">
      <div class="order-info-footer__heading">
        Buyer Remarks/instructions
      </div>
      <div>
        {{order.comment || 'None' }}
      </div>
    </div>
  </div>

</div>
