<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a routerLink="/home" class="title-bar__breadcrumb__item">HOME</a>
    | <a routerLink="/cart" class="title-bar__breadcrumb__item">MY CART</a>
    | <span class="title-bar__breadcrumb__item">Checkout</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">Checkout</div>
</div>
<div class="container">
  <ng-container *ngIf="items?.length; else empty_cart">
    <app-checkout-form [items]="items"></app-checkout-form>
  </ng-container>
  <ng-template #empty_cart>
    <div class="text-center">
      <p class="text-muted">Your cart is empty</p>
    </div>
  </ng-template>
</div>
