<div class="error-block">
  <div class="error-block__title">OOPS!</div>
  <div class="error-block__sub_title">
    Sorry... this page no longer exists. </div>

  <a class="btn dark no-radius mt-3 error-block__button" routerLink="/home">
    <span class="text-white text-u-c">BACK TO HOME</span>
  </a>
</div>
