<div class="product-accessories-widget">
    <div class="container">
        <ng-container *ngIf="productAccessories$ | async as productAccessories;else loading">
            <div class="text-center  m-b-sm">
                <h5 class="product-accessories-widget__title">PRODUCT ACCESSORIES</h5>
            </div>
            <div class="products-grid">
                <div class="products-grid__item" *ngFor="let p of productAccessories">
                    <app-product-card [product]="p" class=""></app-product-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #loading>
    <app-loading-placeholder></app-loading-placeholder>
</ng-template>
