
.product-status-label {
  width: 125px;
  padding: 1px 4px;
  color: white;
  background: #b8b8b8;
  font-size: .75rem;
  text-align: center;
  font-weight: 500;
  border-radius: 0;


  &--published {
    background-color: #4CAF50;
  }

  &--pending {
    background-color: #5B7DFF;
  }

  &--draft {
    background-color: #FBBE17;
  }

  &--withdrawn {
    background-color: #FF7400;
  }

  &--sold {
    background-color: #BC2D19;
  }
}
