<div class="page__content">
  <h3 class="page__header page__header--uppercase">Addresses</h3>
  <div class="row" [class.loading]="loading">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="row mt-4">
        <div class="col"><h4 class="page__header">Delivery Address</h4></div>
        <div class="col text-right">
          <label class="md-check" (click)="copyFromProfile('shipping')">
            <input type="checkbox" name="type">
            <i class="black"></i>
            <span class="_300 ">use my address</span>
          </label>
        </div>
      </div>
      <app-user-address [form]="ngForm.get('shipping')"></app-user-address>
      <div class="row mt-4">
        <div class="col"><h4 class="page__header">Billing Address</h4></div>
        <div class="col text-right">
          <label class="md-check" (click)="copyFromProfile('billing')">
            <input type="checkbox" name="type">
            <i class="black"></i>
            <span class="_300">use my address</span>
          </label>
        </div>
      </div>
      <app-user-address [form]="ngForm.get('billing')"></app-user-address>

      <div class="text-center mt-4">
        <button type="button" (click)="update()" class="btn btn-dark no-radius btn--wide">UPDATE</button>
      </div>
    </div>
  </div>
</div>
