<div class="nav-scroller menu-bar menu-bar--mobile d-md-none">
  <nav class="nav justify-content-between">
    <a class="menu-bar__item" routerLinkActive="menu-bar__item--active"
       [routerLinkActiveOptions]="{exact:true}" routerLink="./by-orders">
      Sales by Orders
    </a>
  </nav>
</div>
<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a href="" class="title-bar__breadcrumb__item">HOME</a>
    | <span class="title-bar__breadcrumb__item">Reports</span>
  </div>
  <div class="title-bar__title text-center text-sm-right col-sm-6">Reports</div>
</div>
<div class="row flex-nowrap">
  <nav class="sidenav col d-none d-md-block">
    <ul>
      <li class="sidenav__item sidenav__item--header"><span class="sidenav__text">Report options</span></li>
      <li class="sidenav__item" routerLinkActive="sidenav__item--active"
          [routerLinkActiveOptions]="{exact:true}">
        <a class="sidenav__link" routerLink="./by-orders">
          <span class="sidenav__text">Sales by Orders</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
