<div class="title-bar row justify-content-md-center">
  <div class="title-bar__breadcrumb col-sm-6 text-center text-sm-left">
    <a href="" class="title-bar__breadcrumb__item">HOME</a> |
    <span class="title-bar__breadcrumb__item text-uppercase">general information</span>
  </div>

  <div class="title-bar__title text-center text-sm-right col-sm-6 text-uppercase">
    Terms and conditions
  </div>
</div>

<div class="container py-5">
  <div class="documentation-text-box m-b m-b">
    <h5 class="documentation-text-box__title">GENERAL INFORMATION</h5>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Ownership</span>
    <p class="documentation-text-box__body">
      This e-Marketplace website (“e-Marketplace”) is operated by SOCOE Sdn Bhd
      (“SOCOE”) in joint collaboration with the respective e-Community owner.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Access & Use </span>
    <p class="documentation-text-box__body">
      Your access to, and use of the materials contained in, the e-Marketplace
      is conditional on your acceptance and compliance with the terms,
      conditions, notices and disclaimers contained in this document or
      elsewhere on the e-Marketplace (“Terms and Conditions”). By using
      e-Marketplace, you agree to be bound by these Terms and Conditions.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Amendments </span>
    <p class="documentation-text-box__body">
      SOCOE reserves the right to amend the Terms and Conditions without notice
      at any time. Your use of our e-Marketplace following such changes
      constitutes your agreement to be bound by the new Terms and Conditions.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Registration</span>
    <p class="documentation-text-box__body">
      To register with the e-Marketplace, you must be over eighteen (18) years
      of age unless otherwise authorised by your Community. You must ensure that
      the details provided by you on registration or at any time are correct and
      complete. You must inform us immediately of any changes to the information
      that you provided when registering by updating your personal details.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Information Collected & Use of Information</span>
    <p class="documentation-text-box__body">
      SOCOE collects the details provided by you on registration together with
      information we learn about you from your use of our service and your visit
      to e-Marketplace.  By using the e-Marketplace, you expressly accept and
      give your unconditional consent that we may use any and/or disclose
      information about your demographics in any manner which does not reveal
      your identity for purpose of marketing, promotional, strategic
      development, research and customer care.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">e-Coupon and Gift Vouchers Terms and Conditions
    </span>
    <p class="documentation-text-box__body">
      Your use of an e-Coupon and Gift Vouchers indicates your agreement to be
      bound by these e-Coupon and Gift Vouchers Terms and Conditions.  SOCOE
      reserves the right to withdraw or cancel an e-Coupon and Gift Vouchers for
      any reason at any time.  SOCOE shall not be liable to any customer for any
      financial loss arising out of the refusal, cancellation or withdrawal of
      any e-Coupon and Gift Vouchers or any failure or inability of a customer
      to use an e-Coupon and Gift Vouchers for any reason.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Security and Fraud</span>
    <p class="documentation-text-box__body">
      When you use an e-Coupon and Gift Vouchers you warrant to SOCOE that you
      are the duly authorised recipient of the e-Coupon and Gift Vouchers and
      that you are using it in good faith. If you redeem, attempt to redeem or
      encourage the redemption of e-Coupon and Gift Vouchers to obtain discounts
      to which you or a third party are not entitled you may be committing a
      civil or criminal offence.  If we reasonably believe that any e-Coupon and
      Gift Vouchers is being used unlawfully or illegally we may reject or
      cancel any e-Coupon and Gift Vouchers and you agree that you will have no
      claim against us in respect of any rejection or cancellation. SOCOE
      reserves the right to take any further action it deems appropriate in such
      instances.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Intellectual Property and Proprietary Rights</span>
    <p class="documentation-text-box__body">
      All text, graphics, audio, video or image files, content, software,
      applications and information displayed on or available from this
      e-Marketplace, and all copyright, trade mark rights, design rights and
      other intellectual property rights in them (together, the "Proprietary
      Content") are the property of SOCOE, other SOCOE companies, our users,
      suppliers or licensors. This includes, without limitation, the
      organisation and lay-out of the e-Marketplace and the underlying software
      that is owned by us, other SOCOE companies, our subsidiaries, affiliates,
      other SOCOE companies, our users, suppliers or licensors. The content of
      the e-Marketplace is protected by copyright, trade marks, database and
      other intellectual property rights. By using the e-Marketplace you're
      agreeing that Proprietary Content is available for personal use only and
      that you will not copy, modify, reproduce, publish, distribute or dispose
      of in any way or use for commercial purposes any Proprietary Content
      without written permission from SOCOE. Neither the SOCOE name nor any
      other SOCOE company name, trade mark, logo or design may be used or copied
      in any manner. No licence is granted to you in these Terms and Conditions
      to use any trade mark of SOCOE or of the Community or all affiliates,
      partners, vendors or providers or any other trademarks or brands on the
      e-Marketplace.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Limitations </span>
    <p class="documentation-text-box__body">
      You may not use the e-Marketplace for any of the following purposes:
    </p>
    <ul class="documentation-text-box__body">
      <li>
        disseminating any unlawful, harassing, libellous, abusive, threatening,
        harmful, vulgar, obscene, or otherwise objectionable material;
      </li>
      <li>
        transmitting material that encourages conduct that constitutes a
        criminal offence, results in civil liability or otherwise breaches any
        relevant laws, regulations or code of practice; gaining unauthorised
        access to other computer systems;
      </li>
      <li>
        interfering with any other person's use or enjoyment of the
        e-Marketplace;
      </li>
      <li>
        breaching any laws concerning the use of public telecommunications
        networks;
      </li>
      <li>
        making, transmitting or storing electronic copies of materials protected
        by copyright without the permission of the owner.
      </li>
    </ul>

    <p class="documentation-text-box__body">
      You will indemnify us against all losses, liabilities, costs and expenses
      reasonably suffered or incurred by us, all damages awarded against us
      under any judgment by a court of competent jurisdiction and all
      settlements sums paid by us as a result of any settlement agreed by us
      arising out or in connection with:
    </p>
    <ul class="documentation-text-box__body">
      <li>
        any claim by any third party that the use of the e-Marketplace by you is
        defamatory, offensive or abusive, or of an obscene or pornographic
        nature, or is illegal or constitutes a breach of any applicable law,
        regulation or code of practice;
      </li>
      <li>
        any claim by any third party that the use of the e-Marketplace by you
        infringes that third party's copyright or other intellectual property
        rights of whatever nature; and
      </li>
      <li>
        any fines or penalties imposed by any regulatory, advertising or trading
        body or authority in connection with the use of the e-Marketplace by
        you.
      </li>
    </ul>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Availability of the e-Marketplace </span>
    <p class="documentation-text-box__body">
      Although e-Marketplace aims to offer you the best service possible, SOCOE
      makes no promise that the services at the e-Marketplace will meet your
      requirements, and cannot guarantee that any services will be fault free.
      If a fault occurs in the service you should report it by email at
      hello@socoe.co and we will attempt to correct the fault as soon as we
      reasonably can.  Your access to the e-Marketplace may occasionally be
      restricted to allow for repairs, maintenance or the introduction of new
      facilities or services. e-Marketplace will attempt to restore the service
      as soon as it reasonably can.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">e-Marketplace's right to suspend or cancel your registration
    </span>
    <p class="documentation-text-box__body">
      e-Marketplace may suspend or cancel your registration immediately at our
      sole discretion without assigning any reason whatsoever.  You can cancel
      this agreement at any time by informing us in writing. If you do so, you
      must stop using the e-Marketplace immediately. Any resumption of use
      constitutes an agreement on your part to acceptance to these Terms and
      Conditions and your agreement to be bound by these.  The suspension or
      cancellation of your registration and your right to use the e-Marketplace
      shall not affect either party’s rights or liabilities.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">e-Marketplace's liability </span>
    <p class="documentation-text-box__body">
      The e-Marketplace is provided by SOCOE without any warranties or
      guarantees of any kind either express or implied, including without
      limitation, warranties of title or implied warranties of merchantability
      of fitness for a particular purpose. You must bear the risks associated
      with the use of the Internet.  SOCOE will ensure that information or
      material included on the e-Marketplace is correct, reputable and of high
      quality. SOCOE will not be responsible for any errors or omissions or for
      the results obtained from the use of information or for any technical
      problems you may experience with the e-Marketplace. If SOCOE is informed
      of any inaccuracies in the information or material on the e-Marketplace,
      SOCOE will attempt to correct the inaccuracies as soon as it reasonably
      can.  In particular, SOCOE disclaim all liabilities in connection with the
      following:
    </p>
    <ul class="documentation-text-box__body">
      <li>
        incompatibility of the e-Marketplace with any of your equipment,
        software or telecommunications links;
      </li>
      <li>
        technical problems including errors or interruptions of the
        e-Marketplace;
      </li>
      <li>unsuitability, unreliability or inaccuracy of the e-Marketplace;</li>
      <li>inadequacy of e-Marketplace to meet your requirements.</li>
    </ul>
    <p class="documentation-text-box__body">
      To the full extent allowed by applicable law, in using this e-Marketplace,
      you agree that we will not be liable to you/or any third party for any
      consequential or incidental damages (including but not limited to loss of
      revenue, loss of profits, loss of anticipated savings, wasted expenditure,
      loss of privacy and loss of data) or any other indirect, special or
      punitive damages whatsoever that arise out of or are related to the
      e-Marketplace. You further agree to indemnify and hold harmless SOCOE and
      all other SOCOE companies, their affiliates, subsidiaries and holding
      companies, the subsidiaries of their holding companies and each of their
      respective officers, directors, shareholders, employees, representatives
      and agents (and you shall continue to indemnify them and hold them
      harmless) in respect of all losses, liabilities, costs, claims, damages
      and demands suffered in connection with your conduct in using
      the e-Marketplace, your behaviour towards us, other SOCOE companies, our
      and their representatives, other users, any breach of law, any breach of
      these Terms and Conditions or any breach of any third party's rights.
    </p>
  </div>

  <div class="documentation-text-box">
    <span class="documentation-text-box__header">International Use </span>
    <p class="documentation-text-box__body">
      SOCOE makes no promise that any of items, content, materials and/or
      services on the e-Marketplace are appropriate or available for use in
      locations in international countries apart from the countries where it is
      intended to operate by SOCOE and its partner Communities. The accessing of
      the e-Marketplace from territories where its contents are illegal or
      unlawful is totally prohibited. If you choose to access
      this e-Marketplace from locations outside the intended countries of use,
      you do so on your own initiative and you shall be solely responsible for
      compliance with local laws.
    </p>
  </div>

  <div class="documentation-text-box m-b p-b">
    <span class="documentation-text-box__header">Miscellaneous </span>
    <p class="documentation-text-box__body">
      You may not assign, sub-license or otherwise transfer any of your rights
      under these Terms and Conditions.  If any provision of these Terms and
      Conditions is found to be invalid by any court having competent
      jurisdiction, the invalidity of that provision will not affect the
      validity of the remaining provisions of these Terms and Conditions, which
      shall remain in full force and effect.  If you breach these Terms and
      Conditions and e-Marketplace ignores this, SOCOE will still be entitled to
      use its rights and remedies at a later date or in any other situation
      where you breach the Terms and Conditions.  SOCOE shall not be responsible
      for any breach of these Terms and Conditions caused by circumstances
      beyond its control. These Terms and Conditions and the Privacy Policy
      constitute the entire agreement between you, the user, and SOCOE in
      relation to your use of the e-Marketplace and supersede all prior
      agreements and arrangements between us in relation to your use of
      the e-Marketplace . If any provision or part of these Terms and Conditions
      is or becomes illegal, invalid or unenforceable, the legality, validity
      and enforceability of all of the other provisions and parts of these Terms
      and Conditions will not be impaired. No failure or delay by SOCOE in
      exercising or enforcing any right, power or remedy which arises under
      these Terms and Conditions shall operate as a waiver of that or any other
      right, power or remedy. No waiver by SOCOE shall be effective unless in
      writing and signed by an authorised representative of SOCOE.
    </p>
  </div>

  <div class="documentation-text-box m-t">
    <h5 class="documentation-text-box__title">PRODUCT TERMS & CONDITIONS</h5>
  </div>
  <div class="documentation-text-box m-b p-b-xs">
    <p class="documentation-text-box__body">
      Our Product Terms & Conditions affect your rights and liabilities under
      the law and set out the terms under which SOCOE makes the products
      available to you.
    </p>
  </div>
  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Prices</span>
    <p class="documentation-text-box__body">
      Prices on e-Marketplace are current prices only and may be subject to
      changes at any time without prior notice. The total price shown in
      your shopping cart may differ from your final billing or invoice.    If
      the value of the goods to be delivered or already delivered is higher than
      the value stated in the shopping cart or order confirmation and if
      you consider that the difference between the price charged and the guide
      price shown on the e-Marketplace is unacceptable, the Customer has every
      right not to accept the goods. Any credits or refunds shall be in
      accordance with our Returns policy. Despite our best efforts, promotional
      offers may have been mis-stated or an item may be mispriced. SOCOE wholly
      reserves the right at all times to correct the pricing by invoicing or
      crediting the customer for the additional or reduction of pricing as the
      case might be regardless of status of order including if the product or
      service has been delivered, provided that the Customer shall at all times
      be entitled to reject the goods purchased and subject to our Returns
      Policy.
    </p>
  </div>
  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Order Confirmation & Availability</span>
    <p class="documentation-text-box__body">
      Our order confirmation to you does not signify our acceptance of your order, nor does it constitute confirmation
      of our offer to sell nor an SOCOE guarantee of the availability of goods.
      At any time after receipt of your order, we may accept, decline, or place quantity or other limits on your order
      for any reason. We may impose these limits on a per-person, per-household, per-order, or any other basis. If we
      reject, limit, or otherwise modify your order, we will attempt to notify you using the e-mail address you provide
      to us. If we cancel an order or part of an order that we've already charged you for, we'll refund you the full
      amount of the cancelled portion of the order.
      You shall be notified in advance wherever possible if the goods requested cannot be delivered for any reason
      whatsoever, and the Customer’s account will be credited accordingly.   

    </p>
  </div>
  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Returns & Refunds </span>
    <p class="documentation-text-box__body">
      When you buy from the e-Marketplace, we want you to be happy with your purchase. However, we know sometimes you
      may need to return goods. Our Returns Policy sets out when you can return goods, and how to do so. Returns and
      refunds will be credited to Customer in the form of account credit at all times.
    </p>
  </div>
  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Payment </span>
    <p class="documentation-text-box__body">
      You can use a bank transfers with authorised banks or debit or credit card to pay for your shopping. We accept
      the following payment providers, issued by banks in Malaysia:
    </p>
    <ul class="documentation-text-box__body">
      <li>Visa</li>
      <li>Mastercard</li>
      <li>Debit Card</li>
    </ul>
    <p class="documentation-text-box__body">
      Currently SOCOE will not accept cash as payment for your shopping. This is because our drivers cannot carry cash
      with them due to safety reasons.
      Our liability to you in connection with any order will not exceed the total price charged for the relevant items
      including shipping and related mandatory taxes or charges.
    </p>
  </div>
  <div class="documentation-text-box">
    <span class="documentation-text-box__header">Customer Services </span>
    <p class="documentation-text-box__body">If you have any queries, please e-mail us at hello@socoe.co</p>
  </div>
</div>
