<button class="btn {{btnClasses}}"
        #btn
        (click)="handleClick(); btn.blur()"
        [disabled]="disabled"
        [class.success]="state == 'success'"
        [class.waiting]="state == 'waiting'"
        [class.failed]="state == 'failed'">
  <span>{{buttonText}}</span>
  <i class="btn-state-icon btn-state-icon--{{state}}"></i>
</button>
