.order-details .row-inner {
  background-color: #FAF9F5;
}

.quantity-input::placeholder {
  font-size: 11px;
  font-style: italic;
}

.order-completed-label {
  line-height: 29px;
}

.order-history-dropdown .dropdown-menu {
  width: 290px;
  margin-left: -12px;
}


.ordered-ago-label {
  color: white;
  cursor: default;
  padding: 0.4695rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;

  &.normal {
    background-color: #3d5afe;
  }

  &.warning {
    background-color: #ff9800;
  }

  &.danger, &.danger:hover {
    background-color: #f22020;
  }
}

.complete-btn {
  color: #ff0000;
  border-color: #ff0000;

  &:hover {
    border-color: #27ad88;
    color: #27ad88;
  }

}

.completed-label, .completed-label:hover {
  background-color: #27ad88;
  border-color: #27ad88;
  color: white;
  cursor: default;
}
