<div class="row-col order-details">
  <div class="row-inner p-a-md" [class.loading]="loading">
    <div class="clearfix mb-2 d-block d-md-none">
      <img (click)="activeModal.close()" class="w-16 pull-right pointer" src="/assets/images/cancel-light.png">
    </div>
    <div class="mb-3">
          <span *ngIf="order.status == STATUS_COMPLETED;else notCompletedDate"
                class="pull-right text-muted">{{orderedAgo}}</span>
      <ng-template #notCompletedDate>
        <span class=" pull-right ordered-ago-label" [ngClass]="orderedAgoClass">{{orderedAgo}}</span>
      </ng-template>

      <div>
        <div><span class="h4">{{buyerName$ | async}}</span>
          <div ngbDropdown class="pos-rlt order-history-dropdown">
                <span class="text-muted text-sm m-l-sm _400 order-history-button"
                      ngbDropdownToggle>order history </span>
            <div ngbDropdownMenu class="dropdown-menu shadow p-a-0">
              <ng-container *ngIf="recentOrders$ | async as recentOrders; else loadingPlaceholder">
                <ul class="list m-b-0 no-border p-b-0" *ngIf="recentOrders.length; else noItems">
                  <li class="list-item pointer" *ngFor="let recentOrder of recentOrders"
                      (click)="setOrder(recentOrder)">
                    <ng-container *ngIf="recentOrder.orderProducts.length > 0">
                      <span class="list-left">
	                	    <span class="w-40">
    		                  <img *ngIf="recentOrder.orderProducts[0].product"
                               [src]="recentOrder.orderProducts[0].product.primaryImage.url">
	                      </span>
                      </span>
                      <div class="list-body">
                        <div>Order No #{{recentOrder.mainOrder.number}}</div>
                        <small class="text-muted text-ellipsis">{{recentOrder.orderProducts[0].product.name}}
                        </small>
                        <small class="text-muted text-ellipsis">Quantity
                          bought {{recentOrder.orderProducts[0].quantity}}
                        </small>
                      </div>
                    </ng-container>
                  </li>
                </ul>
                <div class="p-b-sm text-center text-sm" *ngIf="hasMoreOrder">
                  <a routerLink="/seller/order" (click)="activeModal.close()"
                     [queryParams]="{buyer_id: order.mainOrder.user_id}">view more</a>
                </div>
              </ng-container>
            </div>
            <ng-template #noItems>
              <div class="empty-results-block">
                No items found
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
              <span class="text-md">
                <app-order-state-icon *ngIf="order.status == STATUS_COMPLETED"
                                      [state]="order.state"></app-order-state-icon> <span
                class="text-muted"> Order {{order.mainOrder.number}}</span>
              </span>
        <span
          class="m-l-sm text-sm text-muted">{{order.mainOrder.created_at | date:'HH:mm E d MMM yyyy'}}</span>
      </div>
      <div class="col-md-5 text-right">
        <span *ngIf="order.status == STATUS_COMPLETED"
              class="m-l-sm text-sm text-muted order-completed-label">completed {{order.updated_at | date:'HH:mm E d MMM yyyy'}}</span>
      </div>
    </div>
    <ng-template #loadingPlaceholder>
      <div class="m-y-3">
        <app-loading-placeholder></app-loading-placeholder>
      </div>
    </ng-template>
    <div *ngIf="orderDetail$ | async as orderDetails; else loadingPlaceholder" [formGroup]="form"
         [class.loading]="updating">
      <div class="clearfix"></div>

      <div class="row m-b">
        <div class="col-sm-4"><span class="text-md">MYR{{total|number:'1.2-2'}}</span> <span
          class="text-muted text-sm"> amount</span>
        </div>
        <div class="col-sm-3"><span class="text-md">{{totalProducts}}</span> <span
          class="text-muted text-sm"> product{{totalShippedItems > 1 ? 's' : ''}}</span>
        </div>
        <div class="col-sm-3"><span class="text-md">{{totalItems}}</span> <span
          class="text-muted text-sm"> item{{totalShippedItems > 1 ? 's' : ''}} count</span>
        </div>
      </div>
      <button *ngIf="order.status == STATUS_COMPLETED; else completeBtn"
              class="btn btn-outline completed-label p-x-2 no-radius" type="button">ORDER COMPLETED
      </button>
      <ng-template #completeBtn>
        <button class="btn m-r-sm btn-outline b-black text-black p-x-2 no-radius" type="button"
                [class.disabled]="form.pristine"
                (click)="saveOrder()">
          UPDATE ORDER
        </button>
        <button class="btn btn-outline complete-btn p-x-2 no-radius" type="button" (click)="completeOrder()">
          COMPLETE ORDER
        </button>
        <span class="text-danger m-l-sm" *ngIf="form.touched && form.invalid">
                below required fields need to be completed before completing order
            </span>
      </ng-template>
      <div class="m-t-2">
            <span class="text-black-lt text-md">{{totalShippedItems}} total item{{totalShippedItems > 1 ? 's' : ''}}
              shipped</span>
        <span class="m-l-sm text-danger"
              *ngIf="form.get('items').invalid"> total items shipped do not match order item count</span>
        <div class="b-iron b-a p-a r m-t-sm white" formArrayName="items">
          <div class="m-b-sm row"
               *ngFor="let orderProduct of orderDetails.orderProducts;trackBy: orderProductTrack let i=index"
               [formGroupName]="i">
            <div class="p-l-1 p-r-sm pull-left">
              <img class="w-40 ml-3"

                   [src]="orderProduct.product?.primaryImage ? orderProduct.product.primaryImage.variants[96]: '/assets/images/failed-image.svg'">
            </div>
            <div class="col-md-3">
              <input class="quantity-input r form-control form-control-sm" placeholder="enter quantity shipped"
                     type="number"
                     name="shipped_quantity" formControlName="shipped_quantity">
              <div class="text-danger" *ngIf="form.get(['items', i, 'shipped_quantity']).hasError('required')">
                quantity shipped required
              </div>
              <div class="text-danger"
                   *ngIf="form.get(['items', i, 'shipped_quantity']).hasError('max')">
                enter valid quantity
              </div>
              <div class="text-danger"
                   *ngIf="form.get(['items', i, 'shipped_quantity']).touched && form.get(['items', i, 'shipped_quantity']).value >= 0 && form.get(['items', i, 'shipped_quantity']).value < orderProduct.quantity">
                {{orderProduct.quantity - form.get(['items', i, 'shipped_quantity']).value}}
                item{{(orderProduct.quantity - form.get(['items', i, 'shipped_quantity']).value) > 1 ? 's' : ''}}
                remaining
              </div>
            </div>
            <div class="col-md-7">
              <div class="text-sm">{{orderProduct.name}}</div>
              <div class="text-xs">SKU/Stockcode {{orderProduct.product ? orderProduct.product.sku : ''}} <span
                class="m-l-1">Quantity ordered {{orderProduct.quantity}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-t-2">
        <span class="text-black-lt text-md">Shipping details</span>
        <div class="b-iron b-a p-a r m-t-sm white">
          <div class="row">
            <div class="col-md-6">
              <div class=" text-black-lt">Ship to</div>
              <h6>{{orderDetails.mainOrder.shipping_first_name}} {{orderDetails.mainOrder.shipping_last_name}}</h6>
              <p class="">
                {{orderDetails.mainOrder.shipping_address_2}}<br>
                {{orderDetails.mainOrder.shipping_address_1}}, {{orderDetails.mainOrder.shipping_city}},
                {{orderDetails.mainOrder.shipping_state}} {{orderDetails.mainOrder.shipping_postcode}}<br>
                {{shippingCountry}}<br>
              </p>
            </div>
            <div class="col-md-6">
              <div class=" text-black-lt">Buyer remarks/instructions</div>
              <p class="">

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="m-t-2">
        <div class="b-iron b-a p-a r m-t-sm white">
          <div class=" text-black-lt m-b-sm">Shipper</div>
          <div class="form-group row">
            <div class="col-md-6">
              <select class="form-control r" name="shipping_service_id" formControlName="shipping_service_id">
                <option value=""></option>
                <option *ngFor="let service of shippingServices" [value]="service.id">{{service.name}}</option>
              </select>
            </div>
            <div class="col-md-6 text-danger form-text" *ngIf="form.get('shipping_service_id').invalid">
              choose shipper
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <input class="form-control  r" placeholder="enter consignment note number" type="text"
                     name="consignment_number" formControlName="consignment_number">
            </div>
            <div class="col-md-6 text-danger form-text" *ngIf="form.get('consignment_number').invalid">
              enter the consignment note number
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
