<div class="row" [formGroup]="ngForm">
  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="ngForm.get('address').value"
             id="address"
             name="address" formControlName="address">
      <label for="address">address 1</label>
      <div *ngIf="ngForm.get('address').hasError('server') && ngForm.get('address').touched"
           class="md-input-msg text-danger">{{ngForm.get('address').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="ngForm.get('address_2').value"
             id="address_2"
             name="address_2" formControlName="address_2">
      <label for="address_2">address 2</label>
      <div *ngIf="ngForm.get('address_2').hasError('server') && ngForm.get('address_2').touched"
           class="md-input-msg text-danger">{{ngForm.get('address_2').getError('server')}}
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <ng-select bindValue="id" bindLabel="name" [clearOnBackspace]="true" [clearable]="false" id="country"
                 [items]="countries" class="md-input"
                 formControlName="country_id"
                 [loading]="countryLoading"
                 [class.ng-select--has-value]="ngForm.get('country_id').value" placeholder="">
      </ng-select>
      <label for="country">country </label>
      <div *ngIf="ngForm.get('country_id').hasError('server') && ngForm.get('country_id').touched"
           class="md-input-msg text-danger">{{ngForm.get('country_id').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="ngForm.get('city').value" id="city"
             name="city"
             formControlName="city">
      <label for="city">city</label>
      <div *ngIf="ngForm.get('city').hasError('server') && ngForm.get('city').touched"
           class="md-input-msg text-danger">{{ngForm.get('city').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="md-form-group float-label">
      <ng-select bindValue="name" [items]="states" id="state" bindLabel="name"
                 [clearOnBackspace]="true" [clearable]="false"
                 formControlName="state"
                 [loading]="stateLoading"
                 placeholder=""
                 class="md-input" [class.ng-select--has-value]="ngForm.get('state').value">
      </ng-select>
      <label for="state">region/state</label>
      <div *ngIf="ngForm.get('state').hasError('server') && ngForm.get('state').touched"
           class="md-input-msg text-danger">{{ngForm.get('state').getError('server')}}
      </div>
    </div>
  </div>

  <div class="col-sm-6 prev-block-button p-b m-b">
    <div class="md-form-group float-label">
      <input type="text" class="md-input" [class.has-value]="ngForm.get('postcode').value" id="postcode"
             name="postcode" formControlName="postcode">
      <label for="postcode">postcode</label>
      <div *ngIf="ngForm.get('postcode').hasError('server') && ngForm.get('postcode').touched"
           class="md-input-msg text-danger">{{ngForm.get('postcode').getError('server')}}
      </div>
    </div>
  </div>
</div>
