.category-menu {
  .menu-bar__item {
    height: 39px;
  }

  &--open  .category-menu__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    background: white;
    opacity: 0.8;
  }

}

.category-mega-menu {
  margin-left: -15px;
  margin-right: -15px;

  &__dropdown {
    width: 100%;
    left: 0;
    right: 0;
    top: -2px;
    transition: visibility 0s, opacity 0.3s linear;
    border: 0;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;


    .container {
      padding: 32px 48px;
      background: white;
    }


    @media (min-width: 992px) {
      .container {
        max-width: 720px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 720px;
      }
    }
  }

  &__item {
    padding: 14px 0;
  }

  &__link {
    line-height: 1.125rem;
    font-weight: 300;
    padding: 14px 12px;

    &:hover {
      color: #888;

    }
  }

}
