<div class="dropdown category-menu" [class.category-menu--open]="megaMenuOpen">
  <div class="category-menu__backdrop"></div>
  <div class="nav-scroller menu-bar">
    <nav class="nav justify-content-md-center">
      <ng-container *ngIf="categories$ | async as categories">
        <li class="menu-bar__item dropdown"
            *ngFor="let c of categories"
            (mouseover)="showMenu(c, element)"
            (mouseleave)="hideMenu()"
            #element
            (click)="handleItemClick(c, element)">
          {{c.name}}
        </li>
      </ng-container>
      <li class="menu-bar__item menu-bar__item--special border-0"
          routerLink="/listing"
          routerLinkActive="menu-bar__item--active"
          [routerLinkActiveOptions]="{exact:true}"
          [queryParams]="{is_special:1}">DEALS
      </li>
      <a class="menu-bar__item menu-bar__item--no-transform" target="_blank" [href]="communityUrl">eWanita</a>
    </nav>
  </div>

  <div class="row category-mega-menu" #megaMenu>
    <div class="col">
      <div class="dropdown-menu category-mega-menu__dropdown" [class.show]="megaMenuOpen">
        <div class="container shadow-sm" (mouseenter)="showMenu(null, null)" (mouseleave)="hideMenu()">
          <div class="row">
            <div class="col-md-4 category-mega-menu__item" *ngFor="let item of megaMenuItems">
              <a class="category-mega-menu__link" (click)="hideMenu()" routerLink="/listing"
                 [queryParams]="{category: item.id}">{{item.name}}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
